<div class="row registration auth-background" ng-controller="RegistrationController">
  <div ng-show="!registrationSuccess">
    <div class="registration-form">
      <form name="registerForm" ng-submit="createAccount(registrationData)" ng-init="initForm()">
        <div class="row">
          <div class="col-md-2 col-sm-2 "></div>
          <div class="col-md-4 col-sm-4 registration-input-form">
            <!-- Form Upload Photo -->
            <div class="upload-form">

                <button id="btn-add-photo"
                        type="image"
                        name="file"
                        accept="image/*"
                        ng-model="registrationData.image"
                        ngf-select
                        ngf-max-size="5MB"
                        ngf-pattern="'image/*'"
                        ngf-accept="'image/*'"
                        ngf-resize="{width: 200, height: 200}"
                        required>

                  <img class="add-photo clip-circle"
                       ng-hide="registrationData.image"
                       src="images/auth/add-photo_3x.png">
                  <img class="thumb profile-file clip-circle"
                       ng-show="uploadForm.file.$valid"
                       ngf-thumbnail="registrationData.image">

                </button>
                  <p ng-show="registerForm.file.$error.maxSize " class="validation-error">File exceeds allowed size </p>
                  <p ng-show="registerForm.file.$error.minWidth " class="validation-error">File invalid min width </p>
                  <p ng-show="registerForm.file.$error.minHeight " class="validation-error">File invalid min height </p>
            </div>
            <!-- First Name -->
            <div class="form-group input-form">
              <img id="registration-icon-fistname" src="images/auth/icon-fullname_3x.png"/>
              <input type="text"
                     name="firstname"
                     id="firstname"
                     class="form-control"
                     ng-model="registrationData.first_name"
                     ng-minlength="2"
                     ng-maxlength="25"
                     placeholder="First Name"
                     required
                     ng-pattern="/^[a-zA-Z]*$/"/>
              <p class="validation-error" ng-show="registerForm.firstname.$dirty && registerForm.firstname.$error.minlength">First Name is too short.</p>
              <p class="validation-error" ng-show="registerForm.firstname.$dirty && registerForm.firstname.$error.maxlength">First Name is too long.</p>
              <p class="validation-error" ng-show="registerForm.firstname.$dirty && registerForm.firstname.$error.required">Your First Name is
                required.</p>
              <p class="validation-error" ng-show=" registerForm.firstname.$dirty && registerForm.firstname.$error.pattern ">Please, enter First Name without spaces.</p>

            </div>
            <!-- Last Name -->
            <div class="form-group input-form">
              <img id="registration-icon-lastname" src="images/auth/icon-fullname_3x.png"/>
              <input type="text"
                     name="lastname"
                     id="lastname"
                     class="form-control"
                     ng-model="registrationData.last_name"
                     ng-minlength="2"
                     ng-maxlength="25"
                     placeholder="Last Name"
                     required
                     ng-pattern="/^[a-zA-Z]*$/"/>
              <p class="validation-error" ng-show="registerForm.lastname.$dirty && registerForm.lastname.$error.minlength">Last Name is too short.</p>
              <p class="validation-error" ng-show="registerForm.lastname.$dirty && registerForm.lastname.$error.maxlength">Last Name is too long.</p>
              <p class="validation-error" ng-show="registerForm.lastname.$dirty && registerForm.lastname.$error.required">Your Last Name is
                required.</p>
              <p class="validation-error" ng-show=" registerForm.lastname.$dirty && registerForm.firstname.$error.pattern ">Please, enter Last Name without spaces.</p>

            </div>
            <!-- Username -->
            <div class="form-group input-form">
              <img id="registration-icon-username" src="images/auth/icon-username_3x.png"/>
              <input type="text"
                     name="username"
                     id="username"
                     class="form-control"
                     ng-model="registrationData.username"
                     ng-minlength="4"
                     ng-maxlength="20"
                     placeholder="Username"
                     required
                     ng-pattern="/^[a-zA-Z0-9]*$/"/>
              <div class="error-block" ng-model="data.errors.username"> {{data.errors.username}}</div>
              <p class="validation-error" ng-show="registerForm.username.$dirty && registerForm.username.$error.minlength">Username is too short.</p>
              <p class="validation-error" ng-show="registerForm.username.$dirty && registerForm.username.$error.maxlength">Username is too long.</p>
              <p class="validation-error" ng-show="registerForm.username.$dirty && registerForm.username.$error.required">Username is required.</p>
              <p class="validation-error" ng-show="serverErrorUsername && !registerForm.username.$error.email&& !registerForm.username.$error.required">{{serverErrorUsername}}</p>
              <p class="validation-error" ng-show=" registerForm.username.$dirty && registerForm.firstname.$error.pattern ">Please, enter Username without spaces..</p>

            </div>
            <!-- E-mail -->
            <div class="form-group input-form">
              <img id="registration-icon-email" src="images/auth/icon-email_3x.png"/>
              <input type="text"
                     name="email"
                     id="email"
                     class="form-control"
                     placeholder="E-mail"
                     ng-model="registrationData.email"
                     ng-maxlength="40"
                     ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/"
                     required/>
              <div ng-messages="registrationForm.registrationData.email.$error">
                <div ng-message="pattern" class="help-text">Please enter a valid email address!</div>
              </div>
              <p class="validation-error" ng-show="registerForm.email.$dirty && registerForm.email.$invalid && !registerForm.email.$pristine">Enter a
                valid email.</p>
              <p class="validation-error" ng-show="registerForm.email.$dirty && registerForm.email.$error.maxlength">E-mail is too long.</p>
              <p class="validation-error" ng-show="registerForm.email.$dirty && registerForm.email.$error.required">Your E-mail is required.</p>
              <p class="validation-error" ng-show="serverErrorEmail && !registerForm.email.$error.email && !registerForm.email.$error.required">{{serverErrorEmail}}</p>
            </div>
            <!-- Password -->
            <div class="form-group input-form" ng-if="!fbInfo">
              <img id="registration-icon-password" src="images/auth/icon-password_3x.png"/>
              <input type="password"
                     name="password"
                     id="password"
                     class="form-control"
                     ng-model="registrationData.password"
                     ng-minlength="6"
                     ng-maxlength="15"
                     placeholder="Password"
                     required>
              <p class="validation-error" ng-show="registerForm.password.$dirty && registerForm.password.$error.minlength">Password is too short.</p>
              <p class="validation-error" ng-show="registerForm.password.$dirty && registerForm.password.$error.maxlength">Password is too long.</p>
              <p class="validation-error" ng-show="registerForm.password.$dirty && registerForm.password.$error.required">Your password is required.</p>
            </div>
            <!-- Gender-->
            <div class="select-sex">
              <form name="formGender">

                <div class="sex"><input type="radio" name="gender" value="0" id="check1"
                                        ng-model="registrationData.gender"
                                        ng-required="!registrationData.gender"
                                        ng-true-value="0"><label for="check1">Male</label>
                </div>
                <div class="sex"><input type="radio" name="gender" value="1" id="check2"
                                        ng-model="registrationData.gender"
                                        ng-required="!registrationData.gender"
                                        ng-true-value="1"><label for="check2">Female</label>
                </div>
                <div class="sex"><input type="radio" name="gender" value="2" id="check3"
                                        ng-model="registrationData.gender"
                                        ng-required="!registrationData.gender"
                                        ng-true-value="2"><label for="check3">Other</label>
                </div>

                <p class="validation-error" ng-show="formGender.gender.$dirty && formGender.gender.$invalid">Your gender is required </p>

              </form>
            </div>

          </div>
          <div class="col-md-4 col-sm-4 registration-input-form" style = "margin-top: -14px;">
            <!-- Role -->
            <form name="formRole">
              <div class="images-choose">
                <div class="group-images-choose">

                  <!-- Student -->

                  <div class = " image-student clip-romb choose-img-container">
                    <img class=" clip-romb "
                       ng-model="registrationData.role"
                       ng-init="imageStudent = false"
                       ng-hide="imageStudent"
                       src="images/auth/student_3x.png">
                  </div>

                  <div class = "image-student clip-romb choose-img-container" >
                    <img class="clip-romb"
                       name="student"
                       ng-model="registrationData.role"
                       ng-value="student"
                       ng-hide="!imageStudent"
                       src="images/auth/student-active_3x.png">
                  </div>

                  <div class = "image-student clip-romb choose-img-container" id="click-img-container-student" ng-click="changeRole('student')">
                  </div>

                  <!-- Teacher -->

                  <div class = "image-teacher clip-romb choose-img-container">
                  <img class="clip-romb"
                       ng-model="registrationData.role"
                       ng-init="imageTeacher = false"
                       ng-hide="imageTeacher"
                       src="images/auth/teacher_3x.png">
                  </div>

                  <div class = "image-teacher clip-romb choose-img-container">
                  <img class="clip-romb"
                       name="teacher"
                       ng-model="registrationData.role"
                       ng-value="teacher"
                       ng-hide="!imageTeacher"
                       src="images/auth/teacher-active_3x.png">
                  </div>

                  <div class = "image-teacher clip-romb choose-img-container" id="click-img-container-teacher" ng-click="changeRole('teacher')">
                  </div>

                  <!-- Parent -->

                  <div class = "image-parent clip-romb choose-img-container">
                  <img class="clip-romb"
                       ng-model="registrationData.role"
                       ng-init="imageParent = false"
                       ng-hide="imageParent"
                       src="images/auth/parent_3x.png">
                  </div>
                  <div class = "image-parent clip-romb choose-img-container">
                  <img class="clip-romb"
                       ng-model="registrationData.role"
                       ng-value="parent"
                       name="parent"
                       ng-hide="!imageParent"
                       src="images/auth/parent-active_3x.png">
                  </div>

                  <div class = "image-parent clip-romb choose-img-container" id="click-img-container-parent" ng-click="changeRole('parent')">
                  </div>

                  <img id="oval-center" class="clip-circle" src="images/auth/oval-active_3x.png">
                </div>
              </div>
            </form>
            <p class="validation-error" ng-show="!registrationData.role && registrationData.role.$dirty">Your role is required.</p>
            <h3 class="question">Where are you?</h3>
            <!-- School Name -->
            <div class="form-group input-form">
              <img id="registration-icon-school" src="images/auth/icon-school-name_3x.png"/>
              <input type="text"
                     name="school"
                     id="school"
                     class="form-control"
                     ng-model="registrationData.school_name"
                     ng-minlength="2"
                     ng-maxlength="50"
                     placeholder="School Name"
                     required/>
              <p class="validation-error" ng-show="registerForm.school.$dirty && registerForm.school.$error.minlength">School Name is too short.</p>
              <p class="validation-error" ng-show="registerForm.school.$dirty && registerForm.school.$error.maxlength">School Name is too long.</p>
              <p class="validation-error" ng-show="registerForm.school.$dirty && registerForm.school.$error.required">Your School Name is
                required.</p>
            </div>
            <!-- City -->
            <div class="form-group input-form">
              <img id="registration-icon-city" src="images/auth/icon-city_3x.png"/>
              <input type="text"
                     name="city"
                     id="city"
                     class="form-control"
                     ng-model="registrationData.city"
                     ng-minlength="2"
                     ng-maxlength="50"
                     placeholder="City"
                     required/>
              <p class="validation-error" ng-show="registerForm.city.$dirty && registerForm.city.$error.minlength">City is too short.</p>
              <p class="validation-error" ng-show="registerForm.city.$dirty && registerForm.city.$error.maxlength">City is too long.</p>
              <p class="validation-error" ng-show="registerForm.city.$dirty && registerForm.city.$error.required">Your City is required.</p>
            </div>
            <!-- Country -->
            <div class="form-group input-form">
              <img id="registration-icon-country" src="images/auth/icon-country_3x.png"/>
              <input type="text"
                     name="country"
                     id="country"
                     class="form-control"
                     ng-model="registrationData.country"
                     ng-minlength="2"
                     ng-maxlength="50"
                     placeholder="Country"
                     required/>
              <p class="validation-error" ng-show="registerForm.country.$dirty && registerForm.country.$error.minlength">Country is too short.</p>
              <p class="validation-error" ng-show="registerForm.country.$dirty && registerForm.country.$error.maxlength">Country is too long.</p>
              <p class="validation-error" ng-show="registerForm.country.$dirty && registerForm.country.$error.required">Your Country is required.</p>
            </div>
          </div>
          <div class="col-md-2 col-sm-2 "></div>
        </div>

        <!-- -->
        <div class="row form-footer">
          <div class="col-md-2 col-sm-2 "></div>
          <div class="col-md-8 col-sm-8 form-actions">
            <div class="registration-form-footer">By joining you agree to</br> our
              <a href="#"><span class="help-text">Terms of use</span></a> and
              <a href="#"><span class="help-text">Privacy policy</span></a>
            </div>
            <div style="text-align: center; width: 50%; margin-left: 15px">
              <button type="submit"
                      id="createAccount"
                      class="btn button-create"
                      ng-disabled="registerForm.$invalid || dataLoading"
                      ng-click="createAccount(registrationData)">
                <div id="registration-loader" class="loader" style="display: none"></div>
                <span id="registration-button" style="display: block">CREATE ACCOUNT</span>
              </button>
            </div>

          </div>
        </div>
      </form>

    </div>
  </div>
  <div ng-show="registrationSuccess">
    <div class="container">
      <h2>
        Confirmation message has been sent to <b>{{registrationData.email}}</b>
      </h2>
    </div>
  </div>

</div>



