<div class="left-menu" ng-controller="MenuFeedController">

  <div class="" style="margin-top: 1vh;">

    <!-- Class Story-->

    <ul class="subject-menu-link">
      <a class="subject-menu class"
         class="{{}}">
        <li ng-class="{active: activeItem === ClassStory.Id}" ng-click="functionShowListOfClassses()">
          <div>
            <image class="subject-menu-icon iconFeedMenu" ng-src="{{ClassStory.icon}}{{ClassStory.role}}{{ClassStory.exte}}"/>
            <span class="subject-menu-title " style="font-weight: bold;" ng-class="activeItem === ClassStory.Id ? 'c-'+role : noActive">
            {{ClassStory.title}}
          </span>
            <image class="subject-menu-icon iconFeedMenu iconArrowFeedMenu" ng-src="{{ClassStory.arrow}}"/>
          </div>
        </li>
      </a>
    </ul>

    <!-- Class Story-->


    <!-- Class List-->

    <div  infinite-scroll='classesList.nextPage()'
          infinite-scroll-disabled='classesList.busy'
          infinite-scroll-distance='0'
          class = 'listOfClasses'
          ng-show="showListOfClasses">

    <ul class="subject-menu-link" ng-model="ClassMenuItem" ng-repeat="menuLink in classesList.items">

      <a class="subject-menu class"
         ng-href="{{menuLink.href}}">
        <li ng-click="displayClassFeedFunction(menuLink)">
          <div>
            <span class="subject-menu-title feedData"  id = "{{menuLink.id}}">
            {{catClassName(menuLink.name)}}
          </span>
          </div>
        </li>
      </a>
    </ul>
    </div>

    <!-- Class List-->


    <!-- Community  Story-->

    <ul class="subject-menu-link" style="margin-top: 1vh;">
      <a class="subject-menu class">
        <li ng-class="{active: activeItem === CommunityStory.Id}" ng-click="functionShowListOfCommunity()">
          <div>
            <image class="subject-menu-icon iconFeedMenu" ng-src="{{CommunityStory.icon}}{{CommunityStory.role}}{{CommunityStory.exte}}"/>
            <span class="subject-menu-title" style="font-weight: bold;" ng-class="activeItem === CommunityStory.Id ? 'c-'+role : noActive">
            {{CommunityStory.title}}
          </span>
            <image class="subject-menu-icon iconFeedMenu iconArrowFeedMenu" ng-src="{{CommunityStory.arrow}}"/>
          </div>
        </li>
      </a>
    </ul>

    <!-- Community  Story-->

    <!-- Community  List-->

    <div ng-show="showListOfComunity" class="listOfCommunity">

      <ul class="subject-menu-link" ng-model="ClassMenuItem" ng-repeat="menuLink in communityList">

        <a class="subject-menu class">
          <li  ng-click="displayCommunityFeedFunction(menuLink)">
            <div>
            <span class="subject-menu-title feedData" id = "{{menuLink.id}}" >
            {{menuLink.title}}
          </span>
            </div>
          </li>

        </a>
      </ul>
    </div>


    <!-- Community  List-->
  </div>
</div>
