
.button-plus {
  position: absolute;
  right: 30px;
  bottom: 10px;
  outline: none;
}

.custom_button {
  border-radius: 50%;
  width: 54px;
  height: 54px;
  background-color: #dd2c00;
  color: white;
  font-size: 30px;
  border: none;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.24);
}

.custom_button {
  outline: none !important;
}

.custom-button-ul {
  list-style: none;
  display: inline;
}

.custom-button-ul li {
  text-align: right;
  margin-top: -100px;
}

.custom-button-ul li:first-child {
  margin-top: -80px;
}

.grey-bg {
  margin-right: 10px;
  border-radius: 3px;
  background-color: #696969;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  color: #ffffff;
  display: inline-block;
}

.button-inside {
  border-radius: 50%;
  width: 42.5px;
  height: 42.5px;
  background-color: #ffffff;
  border: none;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  text-align: center;
}

.button-inside img {
  margin-left: -2px;
  max-width: 30px;
}

#datalist {
  position: absolute;
  margin-left: -172px;
  width: 222px;
}
