<div class="are-u-sure-modal">
 <div class="modal-question">
   <div ng-if="$ctrl.items.fromClasses">
     <span>Do you really want to {{$ctrl.items.actionTitle}}</span>
     <span ng-show="$ctrl.items.current.length === 1">{{$ctrl.items.current[0].name}} class?</span>
     <span ng-show="$ctrl.items.current.length !== 1">selected classes?</span>
   </div>
   <div ng-if="$ctrl.items.action === 'deleteGroup'">
     <span>Do you really want to {{$ctrl.items.actionTitle}} group {{$ctrl.items.current[0].name}}?</span>
   </div>
   <div ng-if="$ctrl.items.fromStudents">
     <span ng-if="$ctrl.items.students.length === 1">Do you really want to {{$ctrl.items.actionTitle}} {{$ctrl.items.students[0].first_name}} {{$ctrl.items.students[0].last_name}} from this class?</span>
     <span ng-if="$ctrl.items.students.length !== 1">Do you really want to {{$ctrl.items.actionTitle}} selected students from this class?</span>
   </div>

   <div ng-if="$ctrl.items.action === 'rejectStudents'">
     <span ng-if="$ctrl.items.students.length === 1">Do you really want to {{$ctrl.items.actionTitle}} {{$ctrl.items.students[0].first_name}} {{$ctrl.items.students[0].last_name}} ?</span>
     <span ng-if="$ctrl.items.students.length !== 1">Do you really want to {{$ctrl.items.actionTitle}} shared students ?</span>
   </div>

   <div ng-if="$ctrl.items.action === 'deleteMessage'">
     <span ng-if="$ctrl.items.students.length === 1">Do you really want to {{$ctrl.items.actionTitle}} selected message ?</span>
     <span ng-if="$ctrl.items.students.length !== 1">Do you really want to {{$ctrl.items.actionTitle}} selected messages ?</span>
   </div>

   <div ng-if="$ctrl.items.action === 'deleteBehavior'">
     <span ng-if="$ctrl.items.students.length !== 1">Do you really want to {{$ctrl.items.actionTitle}} {{$ctrl.items.behavior.description}} behavior type?</span>
   </div>

 </div>
  <div class="modal-footer">
    <div class="btn-group modal-buttons">
      <button type="button" class="btn {{'c-'+role}}" ng-click="$ctrl.cancel()">cancel</button>
      <button type="button" class="btn {{'c-'+role}}" ng-click="$ctrl.approve()">{{$ctrl.items.actionTitle}}</button>
    </div>
  </div>
</div>
