<div id="header" ng-include="'components/header/header.html'"></div>
<div class="mess-block" ng-init="init()" style="height: calc(100vh - 64px); overflow: hidden;">
  <div class="message-block-header {{'c-' + role}}">
    <span class="title">Settings</span>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 padding"></div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding classes {{role}} holder-settings">
        <div class="classes-block classes-block-archived settings-block">


          <div class="classes-block-list-archived settings-title">
            <div class="chapter" ng-click="chapterIsOpen1 = !chapterIsOpen1">
              <div>
                <div class="chapter-title {{'c-'+role}}">
                  <span style="text-transform: uppercase;">Languages</span>
                </div>
                <div class="chapter-control">
                  <i ng-show="chapterIsOpen1" class="glyphicon glyphicon-chevron-up {{'c-'+role}} icon"></i>
                  <i ng-show="!chapterIsOpen1" class="glyphicon glyphicon-chevron-down {{'c-'+role}} icon"></i>
                </div>
              </div>
            </div>
            <div class="list-holder" ng-show="chapterIsOpen1">
              <div class="settings-chapter {{'c-'+role}}">
                <div class="custom-toggle">
                  <input ng-click="selectLanguage('EN')" type="checkbox" ng-model="selectedEN" id="languageEN" />
                  <label for="languageEN"><span class="{{'c-' + role}}" style = "top: -3px; position: relative; padding-right: 30px;margin-right: -30px;">English</span></label>
                </div>
              </div>

              <div class="settings-chapter {{'c-'+role}}">
                <div class="custom-toggle">
                  <input ng-click="selectLanguage('AR')" type="checkbox" ng-model="selectedAR" id="languageAR" />
                  <label for="languageAR"><span class="{{'c-' + role}}" style = "top: -3px; position: relative; padding-right: 30px;margin-right: -30px;">Arabic</span></label>
                </div>
              </div>
            </div>
          </div>


          <div class="classes-block-list-archived settings-title">
            <div class="chapter">
              <div>
                <div class="chapter-title {{'c-'+role}}">
                  <span style="text-transform: uppercase;">Notifications</span>
                </div>
                <div class="chapter-control">
                  <div class="onoffswitch">
                    <input  type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch">
                    <label class="onoffswitch-label" for="myonoffswitch" ng-click="notificationsEnable()">
                      <span class="onoffswitch-inner {{userData.background}}"></span>
                      <span class="onoffswitch-switch"></span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="classes-block-list-archived settings-title">
            <div class="chapter">
              <div>
                <div class="chapter-title {{'c-'+role}}">
                  <span style="text-transform: uppercase;">Protected</span>
                </div>
                <div class="chapter-control">
                  <div class="onoffswitch">
                    <input  type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch1">
                    <label class="onoffswitch-label" for="myonoffswitch1" ng-click="protectedEnable()">
                      <span class="onoffswitch-inner {{userData.background}}"></span>
                      <span class="onoffswitch-switch"></span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="classes-block-list-archived settings-title" ng-if="role === 'teacher'">
            <div class="chapter" ng-click="chapterIsOpen2 = !chapterIsOpen2">
              <div>
                <div class="chapter-title {{'c-'+role}}">
                  <span style="text-transform: uppercase;">Behavior Types</span>
                </div>
                <div class="chapter-control">
                  <i ng-show="chapterIsOpen2" class="glyphicon glyphicon-chevron-up {{'c-'+role}} icon"></i>
                  <i ng-show="!chapterIsOpen2" class="glyphicon glyphicon-chevron-down {{'c-'+role}} icon"></i>
                </div>
              </div>
            </div>
            <div class="list-holder" ng-show="chapterIsOpen2">
              <div class="settings-chapter" >
                <div class="title" style="padding-left: -22px;">
                  <span style="color: #1ea66d;">Positive</span>
                </div>
                <div class="beh-list-item" ng-repeat="behavior in behaviours" ng-if="behavior.type === 1">
                  <div>
                    <span class="behavior-icon"><img src="{{behavior.image}}" style="width: 45px; height: 45px"></span>
                    <span class="beh-name">{{behavior.description}}</span>
                  </div>
                  <div class="controll-button" ng-if="behavior.id > 8">
                    <button class="btn-default btn"><img src="images/events/controll-button.svg"></button>
                    <div class="inside-menu dropdown-menu">
                      <div class="menu-option" ng-click="editBehavior(behavior)">Edit</div>
                      <div class="menu-option" ng-click="deleteBehavior(behavior)">Delete</div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="settings-chapter" style="padding-left: 22px;">
                <div class="title">
                  <span style="color: #f93640">Need work</span>
                </div>
                <div class="beh-list-item" ng-repeat="behavior in behaviours" ng-if="behavior.type === 2">
                  <div>
                    <span class="behavior-icon"><img src="{{behavior.image}}" style="width: 45px; height: 45px"></span>
                    <span class="beh-name">{{behavior.description}}</span>
                  </div>
                  <div class="controll-button" ng-if="behavior.id > 8">
                    <button class="btn-default btn"><img src="images/events/controll-button.svg"></button>
                    <div class="inside-menu dropdown-menu">
                      <div class="menu-option" ng-click="editBehavior(behavior)">Edit</div>
                      <div class="menu-option" ng-click="deleteBehavior(behavior)">Delete</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <!--<div class="classes-block-list-archived settings-title">-->
            <!--<div class="chapter" ng-click="chapterIsOpen3 = !chapterIsOpen3">-->
              <!--<div>-->
                <!--<div class="chapter-title {{'c-'+role}}">-->
                  <!--<span style="text-transform: uppercase;">Attendance Types</span>-->
                <!--</div>-->
                <!--<div class="chapter-control">-->
                  <!--<i ng-show="chapterIsOpen3" class="glyphicon glyphicon-chevron-up {{'c-'+role}} icon"></i>-->
                  <!--<i ng-show="!chapterIsOpen3" class="glyphicon glyphicon-chevron-down {{'c-'+role}} icon"></i>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="list-holder" ng-show="chapterIsOpen3">-->
              <!--<div class="settings-chapter">-->
                <!--<div class="beh-list-item">-->
                  <!--<div>-->
                    <!--<span class="behavior-icon attendance-icon" ></span>-->
                    <!--<span class="beh-name">Present</span>-->
                  <!--</div>-->
                <!--</div>-->

                <!--<div class="beh-list-item">-->
                  <!--<div>-->
                    <!--<span class="behavior-icon attendance-icon" ></span>-->
                    <!--<span class="beh-name">Absent</span>-->
                  <!--</div>-->
                <!--</div>-->

                <!--<div class="beh-list-item">-->
                  <!--<div>-->
                    <!--<span class="behavior-icon attendance-icon" ></span>-->
                    <!--<span class="beh-name">Late</span>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->

          <div class="classes-block-list-archived settings-title">
            <div class="chapter" ng-click="chapterIsOpen4 = !chapterIsOpen4">
              <div>
                <div class="chapter-title {{'c-'+role}}">
                  <span style="text-transform: uppercase;">Privacy</span>
                </div>
                <div class="chapter-control">
                  <i ng-show="chapterIsOpen4" class="glyphicon glyphicon-chevron-up {{'c-'+role}} icon"></i>
                  <i ng-show="!chapterIsOpen4" class="glyphicon glyphicon-chevron-down {{'c-'+role}} icon"></i>
                </div>
              </div>
            </div>
            <div class="list-holder" ng-show="chapterIsOpen4">
              <div class="settings-chapter"></div>
            </div>
          </div>

          <div class="classes-block-list-archived settings-title"  ng-show = "role === 'teacher'">
            <div class="chapter" ng-click="chapterIsOpen5 = !chapterIsOpen5">
              <div>
                <div class="chapter-title {{'c-'+role}}">
                  <span style="text-transform: uppercase;">Gradable Items</span>
                </div>
                <div class="chapter-control">
                  <i ng-show="chapterIsOpen5" class="glyphicon glyphicon-chevron-up {{'c-'+role}} icon"></i>
                  <i ng-show="!chapterIsOpen5" class="glyphicon glyphicon-chevron-down {{'c-'+role}} icon"></i>
                </div>
              </div>
            </div>
            <div class="list-holder" ng-show="chapterIsOpen5">

              <settings-class-list class-list="listOfClasses" class-id-for-gradable-items="classIdForGradableItems" ng-show="showListOfClasses"> ></settings-class-list>

              <div class="{{'c-'+role}} SettingsBackArrow " ng-click="backToListOfClasses()" ng-show="showListOfGradableItems"><img ng-src="{{iconArrowBack}}">
                <span class = "back-folder-button">Back</span>
              </div>

              <list-of-gradable-items class-id="selectedClassId" ng-show="showListOfGradableItems"></list-of-gradable-items>

            </div>
          </div>

          <div class="classes-block-list-archived settings-title">
            <div class="chapter" ng-click="chapterIsOpen6 = !chapterIsOpen6">
              <div>
                <div class="chapter-title {{'c-'+role}}">
                  <span style="text-transform: uppercase;">Support</span>
                </div>
                <div class="chapter-control">
                  <i ng-show="chapterIsOpen6" class="glyphicon glyphicon-chevron-up {{'c-'+role}} icon"></i>
                  <i ng-show="!chapterIsOpen6" class="glyphicon glyphicon-chevron-down {{'c-'+role}} icon"></i>
                </div>
              </div>
            </div>
            <div class="list-holder" ng-show="chapterIsOpen6">
              <div class="settings-chapter"></div>
            </div>
          </div>


        </div>

      </div>
    </div>
  </div>
</div>
