<form name="DetailedSearch"  ng-submit="" novalidate>
  <div class="modal-header {{userData.background}}">
    <h3 class="modal-title" id="modal-title">Detailed search</h3>
    <button class="modal-btn-close {{userData.background}}" type="button" ng-click="cancel()">+</button>
  </div>

  <div class="personal-information-container">
   <!---->

    <div class="color">
      <div class="choose-semester">

        <!-- ===== Username ===== -->
        <div class="dig-prop">
          <input id = "shortName"
                 class="greyFont"
                 ng-model='search.username'
                 name='Username'
                 ng-minlength="3"
                 ng-maxlength="32"
                 placeholder="Username">
        </div>
        <hr>
        <p ng-show="DetailedSearch.Username.$dirty && DetailedSearch.Username.$error.minlength" class="help-block fixed-error-massage">Username name is too short.</p>
        <p ng-show="DetailedSearch.Username.$dirty && DetailedSearch.Username.$error.maxlength" class="help-block fixed-error-massage">Username name is too long.</p>


        <!-- ===== Country ===== -->
        <div class="dig-prop">
          <input class="greyFont"
                 ng-model='search.country'
                 name='Country'
                 ng-minlength="3"
                 ng-maxlength="32"
                 placeholder="Country">
        </div>
        <hr>
        <p ng-show="DetailedSearch.Country.$dirty && DetailedSearch.Country.$error.minlength" class="help-block fixed-error-massage">Country name is too short.</p>
        <p ng-show="DetailedSearch.Country.$dirty && DetailedSearch.Country.$error.maxlength" class="help-block fixed-error-massage">Country name is too long.</p>


        <!-- ===== City ===== -->
        <div class="dig-prop">
          <input class="greyFont"
                 ng-model='search.city'
                 name='City'
                 ng-minlength="3"
                 ng-maxlength="32"
                 placeholder="City">
        </div>
        <hr>
        <p ng-show="DetailedSearch.City.$dirty && DetailedSearch.City.$error.minlength" class="help-block fixed-error-massage">City name is too short.</p>
        <p ng-show="DetailedSearch.City.$dirty && DetailedSearch.City.$error.maxlength" class="help-block fixed-error-massage">City name is too long.</p>


        <!-- ===== School ===== -->
        <div class="dig-prop">
          <input class="greyFont"
                 ng-model='search.school'
                 name='School'
                 ng-minlength="2"
                 ng-maxlength="32"
                 placeholder="School">
        </div>
        <hr>
        <p ng-show="DetailedSearch.School.$dirty && DetailedSearch.School.$error.minlength" class="help-block fixed-error-massage">School name is too short.</p>
        <p ng-show="DetailedSearch.School.$dirty && DetailedSearch.School.$error.maxlength" class="help-block fixed-error-massage">School name is too long.</p>




      </div>
    </div>

    <!---->
    <div class="help-block search-validation" ng-show="SearchNotValid">Please, enter at least one field</div>
  </div>

  <!-- FOOTER-->
  <div class="modal-footer" style="padding: 7px;">
    <button class="btn-cansel {{userData.color}}"
            type="button"
            ng-click="cancel()">Cancel
    </button>

    <button class="btn-createClass {{userData.background}}"
            style="width: auto;"
            type="submit"
            ng-click="createStudentClicked = true; ok()">SEARCH
    </button>

  </div>
</form>
