<div class = "joinClass">
<form name="CreateClassModal"  ng-submit="submitCreateClassModal()" novalidate>
  <div class="modal-header {{userData.background}}" ng-show="!codeWasSend">
    <h3 class="modal-title" id="modal-title">Export class</h3>
    <button class="modal-btn-close {{userData.background}}" type="button" ng-click="cancel()">+</button>
  </div>
  <!-- =============== Class Details =======================-->
  <div class="colorcover" ng-if="!codeWasSend">
    <div class="color">
      <div class="choose-semester">
        <!-- ===== Name Class ===== -->
        <div class="dig-prop">
          <input
            id = "className"
            class="{{userData.color}} class-name"
            ng-model='exportClass.email'
            name='ClassName'
            ng-minlength="2"
            ng-maxlength="50"
            placeholder="Enter email"
            type="email"
            required>
        </div>
        <hr>
        <p ng-show="submitted && CreateClassModal.ClassName.$error.required" class="help-block">Email is required.</p>
        <p ng-show="!(submitted && CreateClassModal.ClassName.$error.required) && CreateClassModal.ClassName.$dirty && CreateClassModal.ClassName.$invalid" class="help-block">Enter valid email.</p>
      </div>
    </div>
  </div>

  <div class="modal-footer" ng-if="!codeWasSend">
    <button class="btn-cansel {{userData.color}}"
            type="button"
            ng-click="cancel()">Cancel
    </button>
    <button class="btn-createClass {{userData.background}} invite-parent-button"
            type="submit"
            ng-click="submitted = true; ok()">Send
    </button>
    <p ng-show="showErrorMessage" class="error-message">{{errorMessage}}</p>
  </div>
  <div ng-if="codeWasSend" class="dialog-on-code-send">
    <div class="modal-header {{userData.background}}">
      <!--<h3 class="modal-title" id="modal-title">Enter class code</h3>-->
      <button class="modal-btn-close {{userData.background}}" type="button" ng-click="cancel()">+</button>
    </div>

    <div class="text" ng-show="codeWasSend">Class export has been sent.</div>
  </div>
</form>
</div>
