<!-- Header -->
<div id="header" ng-include="'components/header/header.html'"></div>

<div id="menuClass" ng-include="'components/class/menuClass/menuClass.html'"></div>

<div ng-model="role" class="class-menu {{role}}">
  <div class="class-item-header ">
    <div class="class-menu-item-main-header col-md-5 col-sm-5 col-xs-6 ">
      <div class="{{'c-'+role}}">Attendance</div>
    </div>
    <div class="class-menu-item-main-subheader"></div>
    <div class="class-menu-item-context-menu col-md-7 col-sm-7 col-xs-6 " ng-show="selection.length !== 0">
      <context-menu></context-menu>
    </div>
  </div>



  <div class="class-menu-item-container">

    <div style = "display: flex; background-color: white; padding:0px 20px; box-shadow: 3px 4px 10px -4px rgba(0, 0, 0, 0.4);" ng-show="role == 'parent'">
      <div ng-repeat="childrenName in arrayOfChildrenId" id = {{childrenName}} class = 'children' ng-click = "changeChildren(childrenName)" style = "
         font-size: 14px;
         font-weight: 500;
         font-style: normal;
         font-stretch: normal;
         letter-spacing: 0.5px;
         text-align: center;
         padding: 15px 10px;
         color: #cf515d;">{{childrenName}}</div>
    </div>


    <div class="class-menu-item-block-center-container">
      <div class="class-menu-item-block-center-header" ng-show="$root.role =='teacher'">
        <div class="class-menu-item-date">
          <div class="dropdown" id="dropdown-controller">
            <a class="dropdown-toggle" id="dLabel" role="button" data-toggle="dropdown" data-target="" href="">
              {{ datatime | date:'dd MMMM yyyy' }}
              <i class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></i>
            </a>
            <ul class="date-dropmenu dropdown-menu" role="menu">

              <datetimepicker data-ng-model="datatime"
                              data-datetimepicker-config="{ dropdownSelector: '.dropdown-toggle' ,startView:'day', minView:'day'}">
              </datetimepicker>
            </ul>
          </div>
        </div>
      </div>

      <div class="class-menu-item-block-center" ng-style="{height : role === 'parent' ? '71vh' : '74vh'}"   ng-class="$root.role =='teacher' ? 'has-header' : ''">

        <div class="class-menu-item-notexist"></div>

        <div class="class-menu-item-exist">
          <!--{{$root.role}}-->

          <div class="atendance-picker" ng-show="$root.role =='teacher'">


            <div class="class-menu-item">
              <div class="class-menu-item-holder">
                <div pick-students></div>
                <div class="control-button" ng-hide="hideCustomButton || role === 'parent'">
                  <custom-button ng-hide="dateIsAhead"></custom-button>
                </div>
              </div>
            </div>
          </div>

          <div ng-show="user.data.role == 'student' || user.data.role =='parent'" class="calendar">
            <!--<div class="test"></div>-->
            <div class="events-calendar">
              <div id="calendar" class="arrow-color-{{role}}" ui-calendar="uiConfig.calendar" ng-model="eventSources" calendar="cdCalendar" data-calendar="myCalendar"></div>
            </div>
          </div>

        </div>
      </div>
    </div>


    <!---->
    <!---->
    <!---->

    <div class="class-menu-item-block-right-container"
         ng-show="pickedStudents.length == 0 && role == 'teacher' ">
      <div class="class-menu-item-block-right">
        <div class="class-menu-item-block-right-header c-{{role}}">
          <div>CLASS ATTENDANCE TODAY</div>
        </div>

        <div class="attendance-general-block">
          <div class="attendance-general-block-chart">
            <div class="attendance-pie" ng-show="listAttendance[0]>0 || listAttendance[1]>0 || listAttendance[2]>0">
              <div class="diagram-holder">
                <div class="first-layer"></div>
                <div class="second-layer"></div>
                <div class="third-layer"></div>
                <div class="fourth-layer"></div>
                <canvas class="chart chart-pie"
                        chart-data="listAttendance"
                        chart-labels="configChart.attendanceLabels"
                        chart-options="configChart.options"
                        chart-colors="configChart.attendanceBackgroundColor">
                </canvas>
              </div>
              <div class="student-attendance-items">
                <div class="student-attendance-item" ng-show="listAttendance[0]>0">
                  <span class="attendance-color attendance-present">{{listAttendance[0]}}</span>
                  <span class="attendance-text">  Present</span>
                </div>
                <div class="student-attendance-item" ng-show="listAttendance[1]>0">
                  <span class="attendance-color attendance-late">{{listAttendance[1]}}</span>
                  <span class="attendance-text">  Late</span>
                </div>
                <div class="student-attendance-item" ng-show="listAttendance[2]">
                  <span class="attendance-color attendance-absent">{{listAttendance[2]}}</span>
                  <span class="attendance-text">  Absent</span>
                </div>
              </div>
            </div>
            <div style="display: flex; flex-direction: column" class="attendance-pie data-absent" ng-show="listAttendance[0]==0 && listAttendance[1]==0 && listAttendance[2]==0">
              <div>There is no attendance information by this date.</div>
              <img style="max-width: 260px; width: 45%; height: auto; opacity: 0.5; text-align: center; margin: 50px auto 0 auto" src="images/no-attendance-img.png">
            </div>

            <div class="small-attendance-list" ng-show="listAttendance[0]>0">
              <div class="small-attendance-list-header">
                <div class="emblem attendance-present-bg"></div>
                <div class="text">Present ({{listAttendance[0]}} Students)</div>
              </div>
              <div class="actual-list">
                <div class="student"
                     ng-repeat="student in presentStudents">
                  <div class="image" ng-style="{'background-image':'url({{student.photo || student.image}})'}">
                  </div>
                </div>
              </div>
            </div>
            <div class="small-attendance-list" ng-show="listAttendance[1]>0">
              <div class="small-attendance-list-header">
                <div class="emblem attendance-late-bg"></div>
                <div class="text">Late ({{lateStudents.length}} Students)</div>
              </div>
              <div class="actual-list">
                <div class="student"
                     ng-repeat="student in lateStudents">
                  <div class="image" ng-style="{'background-image':'url({{student.photo || student.image}})'}">
                  </div>
                </div>
              </div>
            </div>
            <div class="small-attendance-list" ng-show="listAttendance[2]>0">
              <div class="small-attendance-list-header">
                <div class="emblem attendance-absent-bg"></div>
                <div class="text">Absent ({{absentStudents.length}} Students)</div>
              </div>
              <div class="actual-list">
                <div class="student"
                     ng-repeat="student in absentStudents">
                  <div class="image" ng-style="{'background-image':'url({{student.photo || student.image}})'}">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!---->
    <!---->
    <!---->

    <!-- =====  Attendance of student when Student or Parents  ===== -->
    <div class="class-menu-item-block-right-container"
         ng-show="role == 'student' || role == 'parent'">
      <div class="class-menu-item-block-right student-teacher" ng-style="{height : role === 'parent' ? '71vh' : '74vh'}">
        <div class="class-menu-item-block-right-header c-{{role}}" ng-show="role === 'teacher'">
          STUDENT INFO by {{slectedMonth}}
        </div>
        <div class="class-menu-item-block-right-header c-{{role}}" ng-show="role === 'parent'">
          STUDENT INFO
        </div>
        <div class="class-menu-item-block-right-header c-{{role}}" ng-show="role === 'student'">
          YOUR ATTENDANCE
        </div>
        <!--<div ng-repeat="pickedStudent in pickedStudents">-->
        <div class="attendance-student-info" ng-if="!currentStudent.listAttendance" >
          <div class="loader loader-fixed"></div>
        </div>
          <div class="attendance-student-info" ng-show="currentStudent.listAttendance">

            <div class="user-block">
              <div class="user-data">
                <div class="student-short-info">
                  <span class="student-short-info-image">
                    <img src="{{currentStudent.photo}}">
                    <span class="user-img-right-block" ng-style="{'background-image':'url({{studentInfo.photo || studentInfo.image}})'}"></span>
                  </span>
                  <span class="student-short-info-username">{{currentStudent.first_name}} {{currentStudent.last_name}}</span>
                </div>
                <!--<div class="attendance-short-info">-->
                  <!--<span class="attendance-short-info-image"><img src="{{currentStudent.photo }}"></span>-->
                <!--</div>-->

                <!--<div class="attendance-user-username">-->
                  <!--<span class="attendance-short-info-username">{{currentStudent.first_name}} {{currentStudent.last_name}}</span>-->
                <!--</div>-->
              </div>
              <div class="user-diagram no-attendance-information" ng-show="!attendanceData.length">
                There is no attendance information by this month.
              </div>
              <div class="user-diagram" ng-show="attendanceData.length">
                <div class="attendance-pie">
                  <div class="first-layer"></div>
                  <div class="second-layer"></div>
                  <div class="third-layer"></div>
                  <div class="fourth-layer"></div>
                  <canvas id="studentAttendancePie"
                          class="chart chart-pie"
                          chart-data="currentStudent.listAttendance"
                          chart-hover="none"
                          chart-legend="false"
                          chart-labels="configChart.attendanceLabels"
                          chart-options="configChart.options"
                          chart-colors="configChart.attendanceBackgroundColor">
                  </canvas>
                </div>
                <div class="attendance-chart">
                  <div class="student-attendance-items">
                    <div class="student-attendance-item" ng-show="currentStudent.listAttendance[0]>0">
                      <span class="attendance-color attendance-present">{{currentStudent.listAttendance[0]}}</span>
                      <span class="attendance-text">  Present</span>
                    </div>
                    <div class="student-attendance-item" ng-show="currentStudent.listAttendance[1]>0">
                      <span class="attendance-color attendance-late">{{currentStudent.listAttendance[1]}}</span>
                      <span class="attendance-text">  Late</span>
                    </div>
                    <div class="student-attendance-item" ng-show="currentStudent.listAttendance[2]>0">
                      <span class="attendance-color attendance-absent">{{currentStudent.listAttendance[2]}}</span>
                      <span class="attendance-text">  Absent</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>




        <!-- =====  Attendance of student when Teacher ===== -->
        <div class="class-menu-item-block-right-container"
             ng-show="role == 'teacher' && pickedStudents.length > 0">
          <div class="class-menu-item-block-right overflow-fixed">
            <div class="class-menu-item-block-right-header c-{{role}}">
              STUDENT INFO BY {{slectedMonth}}
            </div>
            <div class="attendance-student-info-list-holder">
        <div ng-repeat="studentInfo in pickedStudents">
          <div class="attendance-student-info" ng-if="!studentInfo.listAttendance" >
            <div class="loader loader-fixed"></div>
          </div>
          <div class="attendance-student-info" ng-show="studentInfo.listAttendance">
            <div class="attendance-short-info">
                <div class="user-img-right-block" ng-style="{'background-image':'url({{studentInfo.photo || studentInfo.image}})'}"></div>
            </div>

            <div class="attendance-user-username">
              <span class="attendance-short-info-username">{{studentInfo.first_name}} {{studentInfo.last_name}}</span>
            </div>
            <div class="attendance-pie">
              <div class="first-layer"></div>
              <div class="second-layer"></div>
              <div class="third-layer"></div>
              <div class="fourth-layer"></div>
              <canvas id="attendancePie"
                      class="chart chart-pie"
                      chart-data="studentInfo.listAttendance"
                      chart-labels="configChart.attendanceLabels"
                      chart-options="configChart.options"
                      chart-colors="configChart.attendanceBackgroundColor">
              </canvas>
            </div>

            <div class="student-attendance-items">
              <div class="student-attendance-item" ng-class="{'number-position-fixed' : studentInfo.listAttendance[0]>9}">
                <span class="attendance-color attendance-present">{{studentInfo.listAttendance[0]}}</span>
                <span class="attendance-text">  Present</span>
              </div>
              <div class="student-attendance-item" ng-class="{'number-position-fixed' : studentInfo.listAttendance[1]>9}">
                <span class="attendance-color attendance-late">{{studentInfo.listAttendance[1]}}</span>
                <span class="attendance-text">  Late</span>
              </div>
              <div class="student-attendance-item" ng-class="{'number-position-fixed' : studentInfo.listAttendance[2]>9}">
                <span class="attendance-color attendance-absent">{{studentInfo.listAttendance[2]}}</span>
                <span class="attendance-text">  Absent</span>
              </div>
            </div>
          </div>
        </div>
          </div>
      </div>
    </div>
  </div>
</div>
