<div class="auth row password password-background">
  <div class="change-wrapper centered">

    <div ng-show="error" class="alert alert-danger">{{error}}</div>

    <div class="change-container">
      <h2>Change password</h2>
      <h3>Please pick a new password to complete the reset process.</h3>
      <h3>You will use this new password to sign in to the site from now on.</h3>
    </div>

    <form class="change-form" name="form" ng-submit="changePassword()" role="form">
      <div class="form-group input-form">
        <img id="login-icon-password" src="../images/auth/icon-password_3x.png"/>
        <input type="password"
               name="password"
               id="password"
               class="form-control"
               ng-model="data.password"
               placeholder="New password"
               autocomplete="off"
               ng-minlength="6"
               ng-maxlength="15"
               pw-check="password_confirmation"
               required/>
        <span ng-show="form.password.$dirty && form.password.$error.required"
              class="help-block">Password is required</span>
        <!--<span class="help-block" ng-show="(form.password.$error.pwmatch || form.password_confirmation.$error.pwmatch)-->
         <!--&& form.password.$dirty" >Password does not match.</span>-->
          <span class="help-block" ng-show="form.password.$dirty && form.password.$error.minlength">Password is too short.</span>
          <span class="help-block" ng-show="form.password.$dirty && form.password.$error.maxlength">Password is too long.</span>
      </div>

      <div class="form-group input-form">
        <img id="login-icon-password" src="../images/auth/icon-password_3x.png"/>
        <input type="password"
               name="password_confirmation"
               id="password_confirmation"
               class="form-control"
               ng-model="data.password_confirmation"
               placeholder="Confirm new password"
               autocomplete="off"
               pw-check="password"
               required/>
        <span ng-show="form.password_confirmation.$dirty && form.password_confirmation.$error.required"
              class="help-block">Password confirmation is required</span>
        <span class="help-block" ng-show="(form.password.$error.pwmatch || form.password_confirmation.$error.pwmatch)
         && form.password_confirmation.$dirty && !(form.password_confirmation.$dirty && form.password_confirmation.$error.required)" >Password does not match.</span>
        <span class="help-block" ng-show="serverMessage.error">{{serverMessage.message}}</span>
      </div>

      <div class="form-actions">
        <button type="submit" class="btn button-login">CHANGE PASSWORD</button>
        <!--<img ng-if="dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>-->
      </div>

    </form>

  </div>

</div>



