<div>
  <div class="modal-header {{userData.background}}">
    <h3 class="modal-title" id="modal-title">Select folder</h3>
    <button class="modal-btn-close {{userData.background}}" type="button" ng-click="cancel()" style = "">+</button>
  </div>

  <div class="files-container">
    <div ng-repeat="file in folders" class = "files-li"
         ng-class="{'active border-{{role}}': file.id === selectedFolder}"
         ng-click="selectionWasChanged(file)">
      <div style = "border-bottom: 2px solid {{file.color | colorParse}}" class="active-file-container">
        <div class="file-img-container" >
          <img ng-src="{{iconFolderImage}}">
        </div>
      </div>
      <div class="active-file-container">{{file.name}} </div>
    </div>
  </div>

  <div class="modal-footer" style = "position:relative">

    <button class="btn-cansel {{userData.color}} cursorPointer"
            ng-click="cancel()">Cancel
    </button>

    <button class="btn-createClass cursorPointer"
            ng-class="{'{{userData.background}}' : !moveDisabled}"
            ng-click="ok(true)">MOVE
    </button>

    <button class="btn-createClass cursorPointer" style="margin-right: 10px"
            ng-class="{'{{userData.background}}' : !moveBackDisabled}"
            ng-click="ok(false)">MOVE BACK
    </button>

  </div>
</div>


