<div class = "joinClass">
  <form name="joinGroup" novalidate>
    <div class="modal-header {{userData.background}}" ng-show="!codeWasSend">
      <h3 class="modal-title" id="modal-title">Enter group code</h3>
      <button class="modal-btn-close {{userData.background}}" type="button" ng-click="cancel()">+</button>
    </div>

    <div class="colorcover" ng-show="!codeWasSend">
      <div class="color">
        <div class="choose-semester">
          <!-- ===== Name Class ===== -->
          <div class="dig-prop">
            <input
              id = "groupCode"
              class="{{userData.color}} class-name"
              ng-model='code'
              name='groupCode'
              ng-minlength="2"
              ng-maxlength="10"
              placeholder="Group code"
              required>
          </div>
          <hr>
          <p ng-show="submitted && joinGroup.groupCode.$error.required" class="help-block">Group code is required.</p>
        </div>
      </div>
    </div>

    <div class="modal-footer" ng-show="!codeWasSend">
      <button class="btn-cansel {{userData.color}}"
              type="button"
              ng-click="cancel()">Cancel
      </button>
      <p ng-show="showErrorMessage" class="error-message" style="margin: 0">Could not find <br> the Group in our database</p>
      <button class="btn-createClass {{userData.background}}"
              type="submit"
              ng-click="submitted = true; join()">Join
      </button>
    </div>

    <div ng-show="codeWasSend" class="dialog-on-code-send">
      <div class="modal-header {{userData.background}}">
        <button class="modal-btn-close {{userData.background}}" type="button" ng-click="cancel()">+</button>
      </div>

      <div class="text">Your request has been sent.</div>
    </div>
  </form>
</div>
