
<!--<div class="login-wrapper"  >-->
  <!--<form class="" ng-submit="submit()">-->
    <!--<div class="login-error"></div>-->
    <!--<div class="login-label"><label> &lt;!&ndash;for="username"&ndash;&gt;Username:</label></div>-->
    <!--<div class="login-element"><input type="text" ng-model="username" name="username" placeholder="username"-->
                                           <!--required/></div>-->
    <!--<div class="login-label"><label> &lt;!&ndash;for="password"&ndash;&gt;Password:</label></div>-->
    <!--<div class="login-element"><input type="password" ng-model="password" name="password" placeholder="password"-->
                                           <!--required/></div>-->
    <!--<div class="login-button">-->
      <!--<button type="submit" class="form-button">Sign in</button>-->
    <!--</div>-->
  <!--</form>-->
<!--</div>-->


<div>

  <div>
    <div class="login-label"><label> <!--for="username"-->Username:</label></div>
    <input placeholder="Login (ex. admin/user)" ng-model="login" />
  </div>
  <div>
    <div class="login-label"><label> <!--for="password"-->Password:</label></div>
    <input placeholder="Pass (ex. 123456)" type="password" ng-model="pass" />
  </div>
  <button ng-click="loginClick()">And press me slowly</button>
</div>
