<!-- Header -->
<div id="header" ng-include="'components/header/header.html'"></div>

<div id="menuClass" ng-include="'components/class/menuClass/menuClass.html'"></div>

<div ng-model="role" class="class-menu {{role}}">
  <div class="class-item-header ">
    <div class="class-menu-item-main-header col-md-5 col-sm-5 col-xs-6 ">
      <div class="{{'c-'+role}}">Parents</div>
      <div class="amount-of-students">{{students.length}} parents</div>
    </div>
    <div class="class-menu-item-main-subheader"></div>
    <div class="class-menu-item-context-menu col-md-7 col-sm-7 col-xs-6 " ng-show="selection.length !== 0">
      <div class="search-field-holder {{'c-'+role}}">
        <label>
          <img src="{{'images/context_menu/search-' + role + '.svg'}}">
          <input type="text" ng-model="searchBy" style="border-color: {{currentUser.color}};" placeholder="Search parent">
        </label>
      </div>
      <context-menu></context-menu>
    </div>
  </div>

  <div class="class-menu-item-container">
    <div class="class-menu-item-block-center-container">

      <div class="class-menu-item-block-center-header">
        <div class="modify-controls">
          <div class="dropdown custom-select">
            <div class=" custom-select-title dropdown-toggle" data-toggle="dropdown" role="button"
               aria-haspopup="true" aria-expanded="false">
              <span class="nav-menu-text-profile">{{ sortBy }}</span>
              <i class="glyphicon glyphicon-triangle-bottom"></i>
            </div>
            <div class="dropdown-menu custom-select-menu">
              <div ng-repeat="item in sort" class="custom-select-menu-option dropdown-menu-text" ng-click="changeSortBy(item)">
              {{item}}
              </div>
            </div>
          </div>

          <div class="btn-group controll-shape-buttons">
            <button type="button" class="btn controll-shape" ng-click="list = true; displayChanged(list)" ng-class="{'{{userData.background}}': list === true}">
              <img ng-if="list === false" ng-src=" {{'../images/students/icon-row-' + role +'.png'}}">
              <img ng-if="list === true" src="../images/students/icon-row-default.png">
            </button>
            <button type="button" class="btn controll-shape"  ng-click="list =false; displayChanged(list)" ng-class="{'{{userData.background}}': list === false}">
              <img ng-if="list === false" src="../images/students/icon-table-default.png">
              <img ng-if="list === true" ng-src=" {{'../images/students/icon-table-' +role +'.png'}}">
            </button>
          </div>
        </div>
      </div>


      <div class="class-menu-item-block-center has-header">

        <div class="class-menu-item-notexist" ></div>

        <div class="class-menu-item-exist">
          <div class="class-menu-item ">
            <!--<select-users></select-users>-->
            <pick-students></pick-students>
          </div>
       </div>

        <div class="class-menu-item-add" ng-hide="hideCustomButton || role === 'parent'">
          <custom-button></custom-button>
        </div>
      </div>

    </div>

    <div class="class-menu-item-block-right-container" ng-hide="hideCustomButton || role === 'parent'">
      <div class="class-menu-item-block-right" ng-show="inviteParent" style="position:relative">
        <div class="class-menu-item-block-right-header poll-right-header parents-right-header" id="inviteParentHeader">
          <div class = 'active-poll-tittle '>
            <span>{{studentsWithoutParents.length}} PARENTS NOT HERE.</span>
            <span>INVITE THEME</span>
          </div>
        </div>

        <div class = "active-poll-voters-list" style="height: 57vh">
          <div id="user-list" class="user-list">
            <div class="user parent-right-list"
                 ng-repeat="user in studentsWithoutParents">
              <div>
              <div class="row margin padding">
                <div class="padding col-lg-2 col-md-2 col-sm-2 col-xs-2">
                  <div class="last-mess-user-img" style="width: 42px; height: 42px;" ng-class = "{'{{'border-bg-'+role}}': selectedUsers[user.id]}" ng-style="{'background-image':'url({{user.image}})'}"></div>
                </div>
                <div class="padding col-lg-10 col-md-10 col-sm-10 col-xs-10">
                  <p class="name">{{user.first_name + ' ' + user.last_name}}
                    <span ng-show='selectedUsers[user.id]' style="float: right"
                          class="glyphicon glyphicon-ok {{ 'c-' + role}}"></span>
                  </p>
                </div>
              </div>
              </div>
              <div>
                <button class = 'invite-parent-button' ng-click = "openModalInviteClass(user)">invite</button>
              </div>
            </div>
          </div>
        </div>

        <div class = 'parent-request-button' ng-click = 'seeRequestToJoin()' ng-show="requestedParents.length>0">
          <img src="../images/parents/icon-invite-parent.svg">
          <span ng-show="requestedParents.length===1">  {{requestedParents.length}} NEW REQUEST</span>
          <span ng-show="requestedParents.length>1">  {{requestedParents.length}} NEW REQUESTS</span>

        </div>
      </div>

      <div ng-if="requestedParents.length" class="class-menu-item-block-right " ng-show="requestToJoinParent" style="position:relative">
        <div class="class-menu-item-block-right-header c-{{role}}">
          REQUEST TO JOIN
        </div>
        <div class="student-info">
          <div class="student-in-requests-container" ng-repeat="parent in requestedParents">
            <div class="student-in-requests">
              <div  class="container-flex">
                <div class="student-img" ng-style="{'background-image':'url({{parent.photo || parent.image}})'}"></div>
                <div class="student-name">
                  <div>
                    {{parent.first_name}} {{parent.last_name}}
                  </div>
                </div>
                <div class="buttons">
                  <div>
                    <button class="btn {{currentUser.background}} white-color"  ng-click="aceptReject(parent, 1)">Accept</button>
                    <button class="btn {{currentUser.color}} {{currentUser.border}}"  ng-click="aceptReject(parent, 2)">Reject</button>
                  </div>
                </div>
                <div style="clear: both"></div>
              </div>
            </div>
          </div>

        </div>

        <div class = 'parent-request-button' ng-click = 'seeParentsToInvite()' ng-show="studentsWithoutParents.length>0">
          <img src="../images/parents/icon-invite-parent.svg">

          INVITE {{studentsWithoutParents.length}} PARENTS
        </div>

      </div>




    </div>
  </div>
</div>

