<form name="CreateExamModal" ng-submit="submitCreateClassModal()" novalidate>
  <div class="modal-header {{userData.background}}">
    <h3 class="modal-title" id="modal-title">{{$ctrl.modalConstant.header}}</h3>
    <button class="modal-btn-close {{userData.background}}" type="button" ng-click="cancel()" style = "">+</button>
  </div>

  <!-- =============== Attachment=======================-->
  <div class="sub-header" style = "display:flex">
    <h3>Attachment</h3>
  </div>
  <div class="colorcover ">

    <!-- ===== Class Color ===== -->

    <div class="addImg color cursorPointer" id="addImg" style="margin-top:0; margin-left: 24px">
      <h4><img src="images/modal/icon-clip.png" style="margin-right:10px; margin-bottom: 4px">Add file</h4>
      <div class="uploadImg  {{userData.color}}">
        <div style="margin: 0; !important;" class={{userData.border}} ngf-select ng-model="UploadFile">
          <img ng-src={{userData.iconPlus}} style="margin:9px;">
          <p id="uploadFile"> Upload file</p>
        </div>
        <div class='UploadFiles'>
          <ul id='ListOfUploadFiles'>
            <li id='{{item.id}}' ng-repeat="item in ArrayOfUploadFiles ">
              <button ng-click="DeleteFileFromSyllabus($event)">x</button>
              {{item.name}}
            </li>
            <li class="progress" ng-show="UploadFile.progress >= 0 && UploadFile.progress<100"
                style="margin-top:{{UploadFileHeight+'px'}}; position:absolute; width:180px">
              <progress-bar progress-number='progressNumber' style='margin:0; padding:0'></progress-bar>
            </li>
          </ul>
        </div>

      </div>
    </div>

  </div>

  <!-- =============== Note =======================-->
  <div class="sub-header" style = "display:flex">
    <h3>Note</h3>
  </div>
  <div class="exam-note" style = "padding-bottom: 100px;">
    <input id=""
           ng-model="assignmentSubmit.note"
           class="exam-note-input {{userData.color}}"
           type="text"
           name = 'Exam_note'
           placeholder="Write your note here">

  </div>


  <div class="modal-footer" style = "position:relative">
    <button class="btn-cansel {{userData.color}}"
            type="button"
            ng-click="cancel()">Cancel
    </button>
    <div class = 'exam-server-error help-block' ng-show = "AssignmentServerError" style = "position: absolute;left: 360px;top: 18px; color:red">Please attach assignment file</div>
    <button class="btn-createClass {{userData.background}}"
            style = "width: inherit;"
            type="submit"
            ng-disabled="CreateExamModal.$invalid"
            ng-click="ok()">Submit assignment
    </button>

  </div>
</form>

