<div class="row auth auth-background forgot">
    <div ng-if="successReset" class="centered">
        <div class="reset-container">
            <p class="p-element forgot-title">
                Password reset link has been sent to your email.
            </p>
        </div>
    </div>
    <div ng-if="!successReset" class="reset-container centered">
        <p class="p-element forgot-title">
            Forgot your password?
        </p>
        <p class="p-element forgot-desc">Please enter the email address  your account was registered with.</p>
        <form class="forgot-password-form" name="forgotPasswordForm" ng-submit="forgotPassword()" role="form" novalidate>

            <div class="reset-wrapper">
                <input type="text"
                       name="email"
                       id="email"
                       class="form-control reset-input"
                       placeholder="E-mail"
                       ng-model="data.email"
                       ng-maxlength="40"
                       ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/"
                       autocomplete="off"
                       required/>
                <!--<div ng-messages="forgotPasswordForm.registrationData.email.$error">-->
                    <!--<div ng-message="pattern" class="help-text">Please enter a valid email address!</div>-->
                <!--</div>-->
                <p class="validation-error"
                   ng-show="forgotPasswordForm.email.$dirty && forgotPasswordForm.email.$invalid && !registerForm.email.$pristine && !(forgotPasswordForm.email.$dirty && forgotPasswordForm.email.$error.required)">
                    Enter a
                    valid email.</p>
                <p class="validation-error"
                   ng-show="forgotPasswordForm.email.$dirty && forgotPasswordForm.email.$error.maxlength">E-mail is too
                    long.</p>
                <p class="validation-error"
                   ng-show="forgotPasswordForm.email.$dirty && forgotPasswordForm.email.$error.required">Your E-mail is
                    required.</p>
                <p class="validation-error" ng-show="serverMessage.error && !(forgotPasswordForm.email.$dirty && forgotPasswordForm.email.$invalid && !registerForm.email.$pristine && !(forgotPasswordForm.email.$dirty && forgotPasswordForm.email.$error.required))  && !(forgotPasswordForm.email.$dirty && forgotPasswordForm.email.$error.required)">{{serverMessage.message}}</p>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn button-reset">
                    <div id="login-loader" class="loader" style="display: none"></div>
                    <span id="login-button" style="display: block">Reset Password</span>
                </button>
            </div>


        </form>

    </div>

</div>



