<div class = "joinClass">
<form name="CreateClassModal"  ng-submit="submitCreateClassModal()" novalidate>
  <div class="modal-header {{userData.background}}" ng-show="!codeWasSend">
    <h3 class="modal-title" id="modal-title">Add comment</h3>
    <button class="modal-btn-close {{userData.background}}" type="button" ng-click="cancel()">+</button>
  </div>
  <!-- =============== Class Details =======================-->
  <div class="colorcover" ng-show="!codeWasSend">
    <div class="color">
      <div class="choose-semester">
        <!-- ===== Name Class ===== -->
        <div class="dig-prop">
          <input
            id = "className"
            class="{{userData.color}} class-name"
            ng-model='comment'
            name='ClassName'
            ng-minlength="2"
            ng-maxlength="200"
            placeholder="Comment"
            required>
        </div>
        <hr>
        <p ng-show="submitted && CreateClassModal.ClassName.$error.required" class="help-block fixed-error-massage">Comment is required.</p>
        <p ng-show="CreateClassModal.ClassName.$dirty && CreateClassModal.ClassName.$error.maxlength" class="help-block fixed-error-massage">Comment is too long.</p>
      </div>
    </div>
  </div>

  <div class="modal-footer" ng-show="!codeWasSend">
    <button class="btn-cansel {{userData.color}}"
            type="button"
            ng-click="cancel()">Cancel
    </button>
    <button class="btn-createClass {{userData.background}}"
            type="submit"
            ng-click="submitted = true; sendComment()">Ok
    </button>
    <p ng-show="showErrorMessage" class="error-message">{{errorMessage}}</p>
  </div>
  <div ng-show="codeWasSend" class="dialog-on-code-send">
    <div class="modal-header {{userData.background}}">
      <!--<h3 class="modal-title" id="modal-title">Enter class code</h3>-->
      <button class="modal-btn-close {{userData.background}}" type="button" ng-click="cancel()">+</button>
    </div>

    <div class="text">Your request has been sent.</div>
  </div>
</form>
</div>
