
  <!--<div class="question" style = "width:100%">-->
    <!--<label for="poll-question">Write your question</label>-->
  <div style="display: flex">
<form name = "PollQuestionArray" style = "width: 100%" novalidate>
    <input id="poll-question" ng-model="questionsArray.question" class="greyFont" type="text"
           name='PollQuestion'
           ng-minlength="2"
           ng-maxlength="250"
           placeholder="Write your question"
           style = "font-size: 16px;"
           required>
    <p ng-show="PollQuestionArray.PollQuestion.$dirty && PollQuestionArray.PollQuestion.$error.minlength" class="help-block red-help-block">Question is too short.</p>
    <p ng-show="PollQuestionArray.PollQuestion.$dirty && PollQuestionArray.PollQuestion.$error.maxlength" class="help-block red-help-block">Question is too long.</p>
    <!--<p ng-show="CreateClassModal.ClassName.$dirty && CreateClassModal.ClassName.$error.required" class="help-block">Class name is required.</p>-->
    <p ng-show="formSubmitted && PollQuestionArray.PollQuestion.$error.required" class="help-block red-help-block">Poll question is required.</p>

<div class="poll-answers" >
  <div class="answer" ng-repeat="answer in questionsArray.answers" style = "flex-direction: column">
    <div style = "display: flex;" >
      <label for="{{$index+1}}" class="answer-number {{color}} {{border}}">{{$index+1}}</label>
      <input id="{{$index+1}}" ng-model="questionsArray.answers[$index].answer" ng-click="questionsArray.answers[$index].flag=0; "
             class="answer-text greyFont" type="text" placeholder="Add choice #{{$index+1}}"
             name='{{"name"+$index}}'
             ng-minlength="2"
             ng-maxlength="250"
             required >
      <label ng-show="$index>1" for="{{$index+1}}" class="delete-choice" ng-click = deleteChoice($index)>X</label>
    </div>
    <p ng-show="PollQuestionArray.{{'name'+$index}}.$dirty && PollQuestionArray.{{'name'+$index}}.$error.minlength" class="help-block red-help-block">Answer is too short.</p>
    <p ng-show="PollQuestionArray.{{'name'+$index}}.$dirty && PollQuestionArray.{{'name'+$index}}.$error.maxlength" class="help-block red-help-block">Answeris too long.</p>
    <!--<p ng-show="CreateClassModal.ClassName.$dirty && CreateClassModal.ClassName.$error.required" class="help-block">Class name is required.</p>-->
    <p ng-show="formSubmitted && PollQuestionArray.{{'name'+$index}}.$error.required" class="help-block red-help-block">Poll answer is required.</p>

  </div>
  <div class = "add-option add-new-ans" id = {{questionId}}>
    <button type = 'submit' class="add-answer {{background}}" ng-click="submitted = true; addNewAnswerInputField()" style = "margin-left:18px">+</button> Add another option
  </div>
</div>



</form>

  <div class="add-img-to-question colorcover">
    <!-- ===== Add Cover Image ===== -->
    <div class="addImg">
      <h4>
        Add image</h4>
      <div class="uploadImg {{color}}">
        <div class="{{border}} from-disk cursorPointer"
             name = "pictureUpload"
             ngf-select
             ng-model="picFile"
             ngf-min-widht="240"
             ngf-min-height="160"
             ngf-max-size="5MB"
             ngf-resize="{width: 240, height: 160, centerCrop: true}"
             ngf-accept="'image/*'" valid-file  >
          <img class="upload-pic" ng-src={{iconCamera}} style="margin:9px">
          <p> {{data.src }}Upload picture</p></div>

        <div ng-show="picFile " class='UploadedPicture'
             ngf-select
             ng-model="picFile"
             ngf-accept="'image/*'">
          <img class="thumb" ngf-thumbnail="picFile"/></div>
      </div>
      <div ng-show="picFile.progress >=0 && picFile.progress<100"
           style="position: absolute;width: 82px;">
        <progress-bar progress-number='progressNumber'></progress-bar>
      </div>
      <div class="upload-file-error">
        <p style = "color:red;" class="help-block" ng-show="PollQuestionArray.pictureUpload.$error.maxSize">Incorrect picture size</p>
        <p style = "color:red;" class="help-block" ng-show="PollQuestionArray.pictureUpload.$error.minHeight">Picture height is not sufficient</p>
        <p style = "color:red;" class="help-block" ng-show="PollQuestionArray.pictureUpload.$error.minWidth">Picture width is not sufficient</p>
      </div>

    </div>

  </div>
  </div>  <!--</div>-->
