<div class="are-u-sure-modal">
 <div class="modal-question">
   <span>Do you really want to delete </span>
   <span class="{{'c-'+role}}">{{$ctrl.items.title  ||  $ctrl.items.name }}</span>
   <span>?</span>
 </div>
  <div class="modal-footer">
    <div class="btn-group modal-buttons">
      <button type="button" class="btn {{'c-'+role}}" ng-click="$ctrl.cancel()">cancel</button>
      <button type="button" class="btn {{'c-'+role}}" ng-click="$ctrl.approve()">delete</button>
    </div>
  </div>
</div>
