<form name="CreateStudentModal"  ng-submit="" novalidate>
  <div class="modal-header {{userData.background}}">
    <h3 class="modal-title" id="modal-title">Edit Profile</h3>
    <button class="modal-btn-close {{userData.background}}" type="button" ng-click="cancel()">+</button>
  </div>

  <div class="sub-header">
    <h3>PERSONAL INFORMATION</h3>
  </div>
  <div class="personal-information-container">
    <div class="top-block">
      <div class="img-upload-container">
        <div class="upload-form">
          <button id="btn-add-photo-student"
                  type="image"
                  name="fileStudent"
                  accept="image/*"
                  ng-model="studentImage"
                  ngf-change="uploaded($files)"
                  ngf-select
                  ngf-max-size="5MB"
                  ngf-pattern="'image/*'"
                  ngf-accept="'image/*'"
                  ngf-resize="{width: 200, height: 200}"
                  required>
            <img class="add-photo clip-circle"
                 ng-hide="studentImage"
                 src="images/auth/add-photo_3x.png">
            <img class="thumb profile-file clip-circle"
                 ng-show="CreateStudentModal.file.$valid"
                 ngf-thumbnail="studentImage">
          </button>
          <div class="errors">
            <p ng-show="CreateStudentModal.fileStudent.$error.maxSize " class="help-block">File exceeds allowed size </p>
            <p ng-show="createStudentClicked && CreateStudentModal.fileStudent.$error.required" class="help-block">Student photo is required</p>
            <p ng-show="CreateStudentModal.fileStudent.$error.minWidth " class="help-block">File invalid min width </p>
            <p ng-show="CreateStudentModal.fileStudent.$error.minHeight " class="help-block">File invalid min height </p>
          </div>
        </div>
      </div>
      <div class="name-container">
        <div class="first-middle-name">
          <div style="display: flex">
            <div class="first-name form-padding">
              <input class="greyFont new-student-form-input"
                     ng-model='user.first_name'
                     name='newStudent_first_name'
                     ng-minlength="2"
                     placeholder="First Name*"
                     required>
              <div class="errors">
                <p ng-show="createStudentClicked && CreateStudentModal.newStudent_first_name.$error.required || CreateStudentModal.newStudent_first_name.$dirty && CreateStudentModal.newStudent_first_name.$error.required" class="help-block">First name is required.</p>
                <p ng-show="CreateStudentModal.newStudent_first_name.$error.minlength" class="help-block">First name is to short</p>
              </div>
            </div>
            <div class="middle-name form-padding">
              <input class="greyFont new-student-form-input"
                     ng-model='user.middle_name'
                     name='newStudent_middle_name'
                     ng-minlength="2"
                     placeholder="Middle Name">
              <div class="errors">
                <p ng-show="CreateStudentModal.newStudent_middle_name.$error.minlength" class="help-block">Middle name is to short</p>
              </div>
            </div>
          </div>
        </div>
        <div class="last-name form-padding">
          <input class="greyFont new-student-form-input"
                 ng-model='user.last_name'
                 name='newStudent_last_name'
                 ng-minlength="2"
                 placeholder="Last Name*"
                 required>
          <div class="errors">
            <p ng-show="createStudentClicked && CreateStudentModal.newStudent_last_name.$error.required || CreateStudentModal.newStudent_last_name.$dirty && CreateStudentModal.newStudent_last_name.$error.required" class="help-block">Last name is required.</p>
            <p ng-show="CreateStudentModal.newStudent_last_name.$error.minlength" class="help-block">Last name is to short</p>
          </div>
        </div>
      </div>
      <div class="phone-email-container">
        <div class="phone form-padding">
          <input class="greyFont new-student-form-input"
                 ng-model='user.phone'
                 name='newStudent_phone'
                 placeholder="Phone"
                 type="tel">
        </div>
        <div class="email form-padding">
          <input type="text"
                 name="newStudent_email"
                 class="greyFont new-student-form-input"
                 placeholder="Email*"
                 ng-model="user.email"
                 ng-maxlength="40"
                 ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/"
                 style="background: white;"
                 disabled/>
          <div class="errors">
            <div ng-messages="CreateStudentModal.newStudent_email.$error">
              <div ng-message="pattern" class="help-block">Please enter a valid email address.</div>
            </div>
            <p class="help-block" ng-show="CreateStudentModal.newStudent_email.$dirty && CreateStudentModal.newStudent_email.$error.maxlength">E-mail is too long.</p>
            <p class="help-block" ng-show="createStudentClicked && CreateStudentModal.newStudent_email.$error.required || CreateStudentModal.newStudent_email.$dirty && CreateStudentModal.newStudent_email.$error.required">Student E-mail is required.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom-block">
      <div class="gender-container greyFont">
       <div class="gender gender-student male" ng-class="{'{{'role-' + role}}' : user.gender === 1}" ng-click="setGender(1)">
         <span ng-class="{'c-{{role}}' : user.gender === 1}">Male</span>
       </div>
       <div class="gender gender-student female" ng-class="{'{{'role-' + role}}' : user.gender === 2}" ng-click="setGender(2)">
         <span ng-class="{'c-{{role}}' : user.gender === 2}">Female</span>
       </div>
       <div class="gender gender-student other" ng-class="{'{{'role-' + role}}' : user.gender === 3}" ng-click="setGender(3)">
         <span ng-class="{'c-{{role}}' : user.gender === 3}">Other</span>
       </div>
      </div>
      <div class="student-id-container">
        <div class= "student-id form-padding">
          <input class="greyFont new-student-form-input"
                 ng-model='user.student_id'
                 name='newStudent_id'
                 ng-minlength="2"
                 placeholder="Student ID">
          <div class="errors">
            <p ng-show="CreateStudentModal.newStudent_id.$error.minlength" class="help-block">Student ID is to short</p>
          </div>
        </div>
      </div>
    </div>

    <div class="bottom-block">
      <div class="gender-container greyFont">
      </div>
      <div class="student-id-container">
        <div class= "student-id form-padding">
          <input class="greyFont new-student-form-input"
                 ng-model='user.school_name'
                 name='schoolName'
                 ng-minlength="2"
                 placeholder="School name">
          <div class="errors">
            <p ng-show="CreateStudentModal.schoolName.$error.minlength" class="help-block">School name is to short</p>
          </div>
        </div>
      </div>
    </div>

    <div class="bottom-block">
      <div class="gender-container greyFont">
      </div>
      <div class="student-id-container">
        <div class= "student-id form-padding">
          <input class="greyFont new-student-form-input"
                 ng-model='user.city'
                 name='city'
                 ng-minlength="2"
                 placeholder="City">
          <div class="errors">
            <p ng-show="CreateStudentModal.city.$error.minlength" class="help-block">City is to short</p>
          </div>
        </div>
      </div>
    </div>

    <div class="bottom-block">
      <div class="gender-container greyFont">
      </div>
      <div class="student-id-container">
        <div class= "student-id form-padding">
          <input class="greyFont new-student-form-input"
                 ng-model='user.country'
                 name='country'
                 ng-minlength="2"
                 placeholder="Country">
          <div class="errors">
            <p ng-show="CreateStudentModal.country.$error.minlength" class="help-block">Country is to short</p>
          </div>
        </div>
      </div>
    </div>

  </div>



  <!-- NOTE -->
  <div class="sub-header ">
    <h3>NOTE</h3>
  </div>
  <div class="poll-modal-create-question poll-modal-note">
    <div class=" question note">
      <input id=""  class="answear-text greyFont" type="text" placeholder="Write your note here" ng-model ='user.note'>
    </div>
  </div>

  <!-- FOOTER-->
  <div class="modal-footer">
    <button class="btn-cansel {{userData.color}}"
            type="button"
            ng-click="cancel()">Cancel
    </button>

    <button class="btn-createClass {{userData.background}}"
            style="width: auto;"
            type="submit"
            ng-click="createStudentClicked = true; ok()">SAVE
    </button>

  </div>
</form>
