<div class="left-menu" ng-controller="MenuGroupController">

  <div class="">

    <!-- Information Block-->
    <div class="subject-class">
      <img src="{{mydata.image}}">
      <div class="subject-class-name">{{mydata.name}}</div>
      <!--<div class="subject-class-desc">{{mydata.short_name}}</div>-->
    </div>
    <!-- End. Information Block-->

    <!-- Menu Classes-->

    <ul class="subject-menu-link" ng-model="ClassMenuItem" ng-repeat="menuLink in menuLinks">

      <a class="subject-menu class"
         class="{{'c-'+role}}"
         ng-href="{{menuLink.href}}">
        <li ng-class="{active: activeItem === menuLink.Id}">
          <div>
            <image class="subject-menu-icon" ng-src="{{menuLink.icon}}{{menuLink.role}}{{menuLink.exte}}"/>
            <span class="subject-menu-title" ng-class="activeItem === menuLink.Id ? 'c-'+role : noActive">
            {{menuLink.title}}
          </span>
          </div>
        </li>

      </a>
    </ul>
    <!-- End. Menu Classes-->

  </div>
</div>
