<form name="CreateClassModal"  ng-submit="" novalidate>
  <div class="modal-header {{userData.background}}">
    <h3 class="modal-title" id="modal-title">Add students from photo</h3>
    <button class="modal-btn-close {{userData.background}}" type="button" ng-click="$ctrl.cancel()">+</button>
  </div>


  <div class="upload-photo">
    <div ng-show="loading">
      <div class="loader"></div>
    </div>
    <div class="addImg">
      <div class="uploadImg {{userData.color}}">
        <div class="{{userData.border}} from-disk cursorPointer"
             ng-show="!picFile "
             name = "pictureUpload"
             ngf-select
             ng-model="picFile"
             ngf-change="uploaded($files)"
             ngf-min-widht="240"
             ngf-min-height="160"
             ngf-max-size="5MB"
             ngf-accept="'image/*'" valid-file >
          <img class="upload-pic" ng-src={{userData.iconPlus}} style="margin:9px">
          <p> {{ data.src }}Upload picture</p>
        </div>
        <div ng-show="picFile" class='UploadedPicture' id="UploadedPictureContainer"
             ng-model="picFile"
             ngf-accept="'image/*'">
          <img ng-show="!loading" id="uploadedPicture" class="thumb" ngf-thumbnail="picFile"/>
          <canvas id="canvas-over-img"></canvas>
        </div>
      </div>
      <div class="upload-file-error">
        <p style = "color:red;" class="help-block" ng-show="CreateClassModal.pictureUpload.$error.maxSize">'Maximum picture size is 5 Mb</p>
        <p style = "color:red;" class="help-block" ng-show="CreateClassModal.pictureUpload.$error.minHeight">Minimum picture size is 240 x 160 pixels</p>
        <p style = "color:red;" class="help-block" ng-show="CreateClassModal.pictureUpload.$error.minWidth">Minimum picture size is 240 x 160 pixels</p>
      </div>
    </div>
  </div>

  <div class="sub-header select-users fixed-position-sub-header" ng-show="picFile">
    <div ng-show="!faces.length">
      <div class="loader small-loader" ></div>
    </div>
    <h3 class="select-users-modal-subtitle" ng-show="faces.length">SELECT STUDENTS TO ADD</h3>
  </div>


  <div class="attendance-list-users-list-mode">
    <div class="student student-to-add" ng-repeat="face in faces">
      <div class="face-container">
        <div class="image" ng-style="{'background-image':'url({{face.photo}})'}"></div>
      </div>

      <div class="modal-footer button-set">

        <button class="btn-cansel {{userData.color}}" type="button" ng-click="deleteStudent(face)">Cancel
        </button>

        <button class="btn-createClass {{userData.background}}" style="width: auto;" ng-click="addNewStudent(face)">ADD STUDENT
        </button>

      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button class="btn-cansel {{userData.color}}"
            type="button"
            ng-click="$ctrl.cancel()">Cancel
    </button>

  </div>
</form>
