<!-- Header -->
<div id="header" ng-include="'components/header/header.html'"></div>

<div id="menuClass" ng-include="'components/class/menuClass/menuClass.html'"></div>

<div ng-model="role" class="class-menu {{role}}">
  <div class="class-item-header ">

    <div class="class-menu-item-main-header col-md-7 col-sm-6 col-xs-4" ng-show="!eventsListByDateIsActive">
      <div class="{{'c-'+role}}">Events</div>
    </div>
    <div ng-show="eventsListByDateIsActive" class="col-md-7 col-sm-6 col-xs-4 classes-main-header classes-main-header-selection">
      <div style="display: flex">
        <i class="{{'c-'+role}} glyphicon glyphicon-arrow-left" ng-click="clear()"></i>
        <div class="{{'c-'+role}} back" ng-click="clear()">BACK</div>
        <!--<div class="selection-number">{{selection.selectedItems.length}} files selected</div>-->
      </div>
    </div>

    <div class="class-menu-item-main-subheader"></div>
    <div class="class-menu-item-context-menu col-md-5 col-sm-6 col-xs-8">
      <context-menu></context-menu>
    </div>
  </div>

  <div class="class-menu-item-container">

    <div class="class-menu-item-block-center-container">
      <div class="class-menu-item-block-center">

        <div class="class-menu-item-notexist"></div>

        <div class="class-menu-item-exist" style="overflow-x: hidden;">
          <div class="events-calendar">
            <div id="calendar" class="arrow-color-{{role}}" ui-calendar="uiConfig.calendar" ng-model="eventSources" calendar="cdCalendar" data-calendar="myCalendar"></div>
          </div>

          <div class="class-menu-item-add" ng-hide="hideCustomButton || role === 'parent'" style="z-index: 1000">
            <custom-button ng-hide="eventsListByDateIsActive"></custom-button>
          </div>

        </div>
      </div>

    </div>

    <div class="class-menu-item-block-right-container">
      <div class="class-menu-item-block-right">
        <div class="class-menu-item-block-right-header c-{{role}}" ng-if="!eventsListByDateIsActive && activeCalendarView === 'month'">
          EVENTS LIST BY MONTH
        </div>
        <div class="class-menu-item-block-right-header c-{{role}}" ng-if="!eventsListByDateIsActive && activeCalendarView === 'agendaWeek'">
          EVENTS LIST BY WEEK
        </div>
        <div class="class-menu-item-block-right-header c-{{role}}" ng-if="eventsListByDateIsActive">
          EVENTS LIST BY DAY
        </div>
        <div class="attendance-student-info" ng-if="requestInProgress" >
          <div class="loader loader-fixed"></div>
        </div>
        <div class="attendance-pie data-absent" ng-show="!eventsList.length && !requestInProgress">There are no events for this day.</div>
        <div class="student-info">
          <div ng-repeat="event in eventsList | orderBy : due_date : true " ng-if="!requestInProgress">
          <div class="event-block">
            <div class="event-block-date" style="background-color: {{event.color}}">
              <div class="event-block-date-date">
               <span class="number">{{event.date_number}}</span>
                <span class="month">{{event.date_month}}</span>
              </div>
              <div class="event-block-date-time">
                {{event.time_start}}
              </div>
            </div>

            <div class="upcoming-item-star-container">
              <img class="active-star" ng-class="{'mark-active-star': event.owner_id===user.data.id}" src="images/profile/icon-star-important.svg" ng-if="event.important" ng-click="markImportantItem(0,event.id ,$index,event.owner_id)">
              <img class="star" ng-class="{'mark-star': event.owner_id===user.data.id}" src="images/profile/icon-star.svg" ng-if="!event.important" ng-click="markImportantItem(1,event.id,$index,event.owner_id)">
            </div>

            <div class="event-block-title">
              <div class="title" style="color: {{event.color}}">{{event.title}}</div>
              <div class="location" ng-if="event.location">
                <img src="images/events/location-red.svg">
                {{event.location}}
              </div>
            </div>
            <div class="controll-button" ng-if="event.owner">
              <button class="btn-default btn"><img src="images/events/controll-button.svg"></button>
              <div class="inside-menu dropdown-menu">
                <div class="menu-option" ng-click="editEvent(event)" ng-show="event.future">Edit</div>
                <div class="menu-option-past" ng-show="!event.future">Edit</div>
                <div class="menu-option" ng-click="deleteEvent(event)">Delete</div>
              </div>
            </div>

          </div>
            <div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

