<form name="CreateExamModal" ng-submit="submitCreateClassModal()" novalidate>
  <div class="modal-header {{userData.background}}">
    <h3 class="modal-title" id="modal-title">Check hand submission</h3>
    <button class="modal-btn-close {{userData.background}}" type="button" ng-click="cancel()" style = "">+</button>
  </div>


  <div >
    <select-users ></select-users>
  </div>

  <div class="modal-footer" style = "position:relative">
    <button class="btn-cansel {{userData.color}}"
            type="button"
            ng-click="cancel()">Cancel
    </button>
    <div class = 'exam-server-error help-block' ng-show = "AssignmentServerError" style = "position: absolute;left: 415px;top: 18px; color:red">Something went wrong</div>
    <button class="btn-createClass {{userData.background}}"
            style = "width: inherit;"
            type="submit"
            ng-disabled="CreateExamModal.$invalid"
            ng-click="ok()">Add Students
    </button>

  </div>
</form>

