<form name="CreateExamModal" ng-submit="submitCreateClassModal()" novalidate>
  <div class="modal-header {{userData.background}}">
    <h3 class="modal-title" id="modal-title">{{$ctrl.modalConstant.header}}</h3>
    <button class="modal-btn-close {{userData.background}}" type="button" ng-click="cancel()" style = "">+</button>
  </div>

  <!-- =============== Folder Details =======================-->
  <div class="sub-header" style = "display:flex">
    <h3>Details</h3>
  </div>
  <div class="colorcover">
    <div class="color">
      <div class="choose-semester exams-help-block">
        <!-- =====  Folder  Name ===== -->
        <div class="dig-prop ">
          <input
            id = "examName"
            ng-model='folder.name'
            name='ExamName'
            ng-minlength="2"
            ng-maxlength="32"
            placeholder="Folder name"
            style = "font-size:22px; color: #b2b2b2;"
            required>
        </div>
        <hr>
        <p ng-show="CreateExamModal.ExamName.$dirty && CreateExamModal.ExamName.$error.minlength" class="help-block">Folder name is too short.</p>
        <p ng-show="CreateExamModal.ExamName.$dirty && CreateExamModal.ExamName.$error.maxlength" class="help-block">Folder name is too long.</p>
        <p ng-show="submitted && CreateExamModal.ExamName.$error.required" class="help-block">Folder name is required.</p>
      </div>
    </div>
  </div>

  <!-- =============== Color=======================-->
  <div class="sub-header" style = "display:flex">
    <h3>Color</h3>
  </div>
  <div class="colorcover ">

    <!-- ===== Folder Color ===== -->
    <div class="color">
      <h4>Choose color</h4>
      <color-picker selected-color="folder.color" function-select-color="functionSelectColor"></color-picker>
    </div>

  </div>

  <div class="modal-footer" style = "position:relative">
    <button class="btn-cansel {{userData.color}} cursorPointer"
            type="button"
            ng-click="cancel()">Cancel
    </button>

    <div class = 'exam-server-error help-block' ng-show = "ExamServerError" style = "position: absolute;left: 415px;top: 18px; color:red;">Something went wrong</div>
    <button class="btn-createClass {{userData.background}}"
            style = "cursor:pointer"
            type="submit"
            ng-click="submitted=true; ok(CreateExamModal.$invalid)">{{$ctrl.modalConstant.buttonSubmit}}
    </button>

  </div>
</form>

