<!-- Header -->
<div id="header" ng-include="'components/header/header.html'"></div>

<div id="menuClass" ng-include="'components/class/menuClass/menuClass.html'"></div>

<div ng-model="role" class="class-menu {{role}}" ng-controller="gradesController">
  <div class="class-item-header ">
    <div class="class-menu-item-main-header col-md-5 col-sm-5 col-xs-6 ">
      <div class={{userData.color}}>Grades</div>
    </div>
    <div class="class-menu-item-main-subheader"></div>
    <div class="class-menu-item-context-menu col-md-7 col-sm-7 col-xs-6 " ng-show="selection.length !== 0">
      <context-menu></context-menu>
    </div>
  </div>
  <div id='user-loader' class="loader more-menu-loader" ng-show="!hideLoader"></div>
  <div class="class-menu-item-container grades" ng-class="{'grades-parent-block':userData.role==='parent' }" ng-show="hideLoader">

  <!--subheader for parents-->
    <div style = "display: flex; background-color: white; padding:0px 20px; box-shadow: 3px 4px 10px -4px rgba(0, 0, 0, 0.4);" ng-show="role == 'parent'">
      <div ng-repeat="childrenName in arrayOfChildrenId" id = {{childrenName}} class = 'children' ng-click = "changeChildren(childrenName)" style = "
         font-size: 14px;
         font-weight: 500;
         font-style: normal;
         font-stretch: normal;
         letter-spacing: 0.5px;
         text-align: center;
         padding: 15px 10px;
         color: #cf515d;">{{childrenName}}</div>
    </div>
    <!------------------------->

    <!--create gradable items(for role teacher) -->
    <div class="class-menu-item-block-right-container" ng-show="userData.role==='teacher'">
      <div class="class-menu-item-block-right">
        <div class="class-menu-item-block-right-header {{userData.color}}" style = 'height: 9vh;'>
          <h3>GRADABLE ITEMS</h3>
        </div>

        <div class="gradable-items-not-exist" ng-show="!listOfGradableItems.length">
        <div class="student-info">
          <div class ='no-gradable-items'>
            <img src="images/grades/grades.svg" style="max-width: 60%">
            <p>You have no gradable items yet.</p>
          </div>
        </div>

        <div class="grades-hint" style="display: block !important">
          <div class="grades-hint-text"><span>Tap here to create <br>a gradable item</span></div>
          <img src="images/brush_arrow.png">
        </div>
        </div>

        <div class="gradable-items-not-exist" ng-show="listOfGradableItems.length" style="height: 65vh;overflow: auto;">
          <div ng-repeat="gradableItem in listOfGradableItems">
            <div class = 'gradable-item'>
              <div  class = "gradable-item-information">
                <div class = 'gradable-item-name'>{{gradableItem.name}}</div>
                <div class = 'gradable-item-data'>
                  <div class = 'gradable-item-category'>{{gradableItem.category}}</div>
                  <div class = 'gradable-item-max-grade'>Max Grade {{gradableItem.max_grade}}</div>
                </div>
              </div>
              <div class = 'gradable-item-weight'>{{gradableItem.weight}} % </div>
              <div><div class = "update-gradable-item-arrow" ng-click = updateGradableItem(gradableItem)><img src="images/grades/update-grade-icon.svg"></div></div>
            </div>
            <hr>
          </div>

          <div class="grades-hint grades-hint-add" ng-show="checkSumItemWeight()">
            <div class="grades-hint-text grades-hint-text-add"><span>Total weight of total items <br> should be equal 100. <br>Please add more <br>gradable items </span></div>
            <img src="images/brush_arrow.png">
          </div>
        </div>
        <div class="class-menu-item-add add-gradable-items-button" ng-show="checkSumItemWeight()">
          <img src="images/floating-button.png" ng-click = createGradableItem()  >
          <!--<custom-button ></custom-button>-->
        </div>
      </div>

    </div>

    <div class="class-menu-item-block-center-container mainContainerWidth" >
      <div class="class-menu-item-block-center" ng-style="{height : role === 'parent' ? '71vh' : '74vh'}" ng-class="{'{{teacherTableContainer}}':userData.role==='teacher'} ">

        <div class="class-menu-item-notexist"></div>

        <!--<div class="class-menu-item-exist no-grades-yet" style = "overflow: hidden" ng-show="userData.role==='teacher' && checkSumItemWeight() ">-->
          <!--You have no grades yet.-->
          <!--</div>-->



        <!--================== EDIT GRADES  ===========================================-->

        <div class="class-menu-item-exist" style = "overflow: hidden" ng-show="userData.role==='teacher' && listOfGradableItems.length>0 && listOfStudents.length>0">


          <div class = "table-fixed-header">

            <div class="table-fixed-header-section1 hideScroll">
              Student
            </div>
            <div class="table-fixed-header-section2 headerGradeScroll {{correctMainSectionWith}} hideScroll" >

              <table style="width:{{calcmainSectionWidth+ 'px'}}; min-width: 470px;text-align: center; height: 77px; margin-left: -1px;">
                <tr  class = 'item-grade-list ' ng-repeat="(categoryKey, categoryValue) in listOfGrades[0].items" ng-if ="$index===categoryIndex">
                  <td colspan="{{categoryValue.length}}" class = 'item-grade'  style="height: 40px">
                    <div style="position: absolute; width: 470px; top: 8px;">
                      <span  style="margin: 0 40px;" ng-click="functionPreviousCategory(listOfGrades[0].items)"> &lt </span>

                      <span>{{categoryKey}}</span>

                      <span  style="margin: 0 40px;" ng-click="functionNextCategory(listOfGrades[0].items)"> &gt </span>
                    </div>

                  </td>
                </tr>

                <tr class = 'item-grade-list number-of-category' ng-repeat="(categoryKey, categoryValue) in listOfGrades[0].items" ng-show="$index===categoryIndex">
                  <td ng-repeat = "grade in categoryValue" class = 'item-grade' >{{$index+1}}</td>
               <!---->
                </tr>
              </table>
            </div>

            <div class="table-fixed-header-section3 table-fixed-header-section3 hideScroll" style="width: 92px">
              Bonus
            </div>
            <div class="table-fixed-header-section3 hideScroll">
              Total
            </div>
          </div>

          <div class = "table-fixed-body" style = "display: flex">

            <div class="table-fixed-body-section1 container hideScroll" style=" height: {{fixedHeight}}">
              <div class="grades-table-student-data" ng-repeat='member in listOfGrades'>
                <div style="overflow: visible" class = "grades-table-student-img-container"><img ng-src = "{{member.user.photo}}" style="border-radius: 50%; height: 100%; width: 100%"></div>
                <div>{{member.user.first_name}}</div>
                <div>{{member.user.last_name}}</div>
                </div>
            </div>

            <div class="table-fixed-body-section2 centerscroll tableGradeScroll {{correctMainSectionWith}}" style=" height: {{fixedHeight}}" >
              <table style="width:{{calcmainSectionWidth+ 'px'}};" class="central-body-section">
                <tr ng-repeat="member in listOfGrades">
                  <td  ng-repeat = "grade in member.items[itemKey]" ng-mouseover="mouseOverItem()" ng-mouseleave="mouseLeaveItem()" ng-class="{'gradable-item-background':grade.class} "  ng-dblclick="CreateNewGrade($index+member.user.id, member.user.id, grade)" id="{{$index+member.user.id}}">{{grade.mark || '-'}}</td>
                  <!---->
                </tr>
              </table>
            </div>
            <div class="table-fixed-body-section3 topscroll hideScroll" style="height: {{fixedHeight}}">
              <div  class="grades-table-student-data " ng-repeat='member in listOfGrades'>
                <div  style = ''>{{member.bonus_mark || '-'}}</div>
              </div>
            </div>

            <div class="table-fixed-body-section3 topscroll" id = "hideScroll" style="height: {{fixedHeight}}">
              <div  class="grades-table-student-data " ng-repeat='member in listOfGrades'>
                <div  style = ''>{{calculateTotalMark(member)}}</div>
              </div>
            </div>
          </div>


          <div class="class-menu-item " >
          </div>

          <div class="class-menu-item-add" ng-hide="hideCustomButton || role === 'parent'">
            <custom-button></custom-button>
          </div>

        </div>

        <div class="class-menu-item-exist" style = "overflow: hidden" ng-show="userData.role==='teacher' && (listOfGradableItems.length===0 || listOfStudents.length===0) ">
          <div class = 'no-created-gradable-items-main-container'>
            <div class = 'no-created-gradable-items'>
              <!--<img class = 'no-created-gradable-items-img' src="images//assignment/no-assignments.png">-->
              <div class = 'no-created-gradable-items-text' ng-if="listOfGradableItems.length===0 && listOfStudents.length===0" >There are no created gradable items</div>
              <div class = 'no-created-gradable-items-text' ng-if="listOfStudents.length===0" >There are no students</div>
            </div>
          </div>
        </div>

        <div class="class-menu-item-exist" style = "overflow: auto" ng-show="userData.role!=='teacher'">
          <h3 class = 'graded-items-title'>GRADED ITEMS</h3>

          <div class = 'current-grade-item ' ng-repeat="(key, value) in currentUserListOfGrades.items">
            <div class = 'grade-item-type'>
              <div class = 'grade-item-type-title {{userData.background}}'>{{key}}</div>
              <div class = 'grade-item-type-mark {{userData.color}}'>{{currentUserListOfGrades['total'+key]}}</div>
            </div>

            <div class = 'grade-item-type-data' ng-repeat="item in value">
              <div class = 'grade-item-type-data-title'>{{item.name }}</div>
              <div class = 'grade-item-type-data-mark'>{{item.mark || '-'}}</div>
            </div>

          </div>

          <div class = 'current-grade-total {{userData.color}} {{userData.border}}'>
            <div class = 'current-grade-total-title  {{userData.border}}'>TOTAL</div>
            <div class = 'current-grade-total-grade'>{{currentUserListOfGrades.total}}</div>
          </div>

          </div>
      </div>

    </div>

  </div>
</div>

