<form name="CreateStudentModal"  ng-submit="" novalidate>
  <div class="modal-header {{userData.background}}">
    <h3 class="modal-title" ng-if="!editing">Add new student</h3>
    <h3 class="modal-title" ng-if="editing">Edit student</h3>
    <button class="modal-btn-close {{userData.background}}" type="button" ng-click="cancel()">+</button>
  </div>

  <div class="sub-header">
    <h3>PERSONAL INFORMATION</h3>
  </div>
  <div class="personal-information-container">
    <div class="top-block">
      <div class="img-upload-container">
        <div class="upload-form">
          <button id="btn-add-photo-student"
                  type="image"
                  name="fileStudent"
                  accept="image/*"
                  ng-model="studentImage"
                  ngf-change="uploaded($files, 0)"
                  ngf-select
                  ngf-max-size="5MB"
                  ngf-pattern="'image/*'"
                  ngf-accept="'image/*'"
                  ngf-resize="{width: 200, height: 200}"
                  required>
            <img class="add-photo clip-circle"
                 ng-hide="studentImage"
                 src="images/auth/add-photo_3x.png">
            <img class="thumb profile-file clip-circle"
                 ng-show="CreateStudentModal.file.$valid"
                 ngf-thumbnail="studentImage">
          </button>
          <div class="errors">
            <p ng-show="CreateStudentModal.fileStudent.$error.maxSize " class="help-block">File exceeds allowed size </p>
            <p ng-show="createStudentClicked && CreateStudentModal.fileStudent.$error.required" class="help-block">Student photo is required</p>
            <p ng-show="CreateStudentModal.fileStudent.$error.minWidth " class="help-block">File invalid min width </p>
            <p ng-show="CreateStudentModal.fileStudent.$error.minHeight " class="help-block">File invalid min height </p>
          </div>
        </div>
      </div>
      <div class="name-container">
        <div class="first-middle-name">
          <div style="display: flex">
            <div class="first-name form-padding">
              <input class="greyFont new-student-form-input"
                     ng-model='newStudent.first_name'
                     name='newStudent_first_name'
                     ng-minlength="2"
                     placeholder="First Name*"
                     required>
              <div class="errors">
                <p ng-show="createStudentClicked && CreateStudentModal.newStudent_first_name.$error.required || CreateStudentModal.newStudent_first_name.$dirty && CreateStudentModal.newStudent_first_name.$error.required" class="help-block">First name is required.</p>
                <p ng-show="CreateStudentModal.newStudent_first_name.$error.minlength" class="help-block">First name is to short</p>
              </div>
            </div>
            <div class="middle-name form-padding">
              <input class="greyFont new-student-form-input"
                     ng-model='newStudent.middle_name'
                     name='newStudent_middle_name'
                     ng-minlength="2"
                     placeholder="Middle Name">
              <div class="errors">
                <p ng-show="CreateStudentModal.newStudent_middle_name.$error.minlength" class="help-block">Middle name is to short</p>
              </div>
            </div>
          </div>
        </div>
        <div class="last-name form-padding">
          <input class="greyFont new-student-form-input"
                 ng-model='newStudent.last_name'
                 name='newStudent_last_name'
                 ng-minlength="2"
                 placeholder="Last Name*"
                 required>
          <div class="errors">
            <p ng-show="createStudentClicked && CreateStudentModal.newStudent_last_name.$error.required || CreateStudentModal.newStudent_last_name.$dirty && CreateStudentModal.newStudent_last_name.$error.required" class="help-block">Last name is required.</p>
            <p ng-show="CreateStudentModal.newStudent_last_name.$error.minlength" class="help-block">Last name is to short</p>
          </div>
        </div>
      </div>
      <div class="phone-email-container">
        <div class="phone form-padding">
          <input class="greyFont new-student-form-input"
                 ng-model='newStudent.phone'
                 name='newStudent_phone'
                 placeholder="Phone"
                 type="tel">
        </div>
        <div class="email form-padding">
          <input type="text"
                 name="newStudent_email"
                 class="greyFont new-student-form-input"
                 placeholder="Email*"
                 ng-model="newStudent.email"
                 ng-maxlength="40"
                 ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/"
                 required/>
          <div class="errors">
            <div ng-messages="CreateStudentModal.newStudent_email.$error">
              <div ng-message="pattern" class="help-block">Please enter a valid email address.</div>
            </div>
            <p class="help-block" ng-show="CreateStudentModal.newStudent_email.$dirty && CreateStudentModal.newStudent_email.$error.maxlength">E-mail is too long.</p>
            <p class="help-block" ng-show="createStudentClicked && CreateStudentModal.newStudent_email.$error.required || CreateStudentModal.newStudent_email.$dirty && CreateStudentModal.newStudent_email.$error.required">Student E-mail is required.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom-block">
      <div class="gender-container greyFont">
       <div class="gender gender-student male" ng-click="setGender(1, 0)">
         <span ng-class="{'picked-gender' : newStudent.gender === 1}">Male</span>
         <img ng-show="newStudent.gender === 1" src="../images/students/underline.svg">
       </div>
       <div class="gender gender-student female" ng-click="setGender(2, 0)">
         <span ng-class="{'picked-gender' : newStudent.gender === 2}">Female</span>
         <img ng-show="newStudent.gender === 2" src="../images/students/underline.svg">
       </div>
       <div class="gender gender-student other" ng-click="setGender(3, 0)">
         <span ng-class="{'picked-gender' : newStudent.gender === 3}">Other</span>
         <img ng-show="newStudent.gender === 3" src="../images/students/underline.svg">
       </div>
      </div>
      <div class="student-id-container">
        <div class= "student-id form-padding">
          <input class="greyFont new-student-form-input"
                 ng-model='newStudent.id'
                 name='newStudent_id'
                 ng-minlength="2"
                 placeholder="Student ID">
          <div class="errors">
            <p ng-show="CreateStudentModal.newStudent_id.$error.minlength" class="help-block">Student ID is to short</p>
          </div>
        </div>
      </div>
    </div>
  </div>





  <div class="sub-header">
    <h3>PARENT</h3>
  </div>

  <div class="personal-information-container">
    <div class="top-block">
      <div class="img-upload-container">
        <div class="upload-form">

          <button id="btn-add-photo-parent-one"
                  type="image"
                  name="fileParent1"
                  accept="image/*"
                  ng-model="parentOneImage"
                  ngf-change="uploaded($files, 1)"
                  ngf-select
                  ngf-max-size="5MB"
                  ngf-pattern="'image/*'"
                  ngf-accept="'image/*'"
                  ngf-resize="{width: 200, height: 200}"
                  required>

            <img class="add-photo clip-circle"
                 ng-hide="parentOneImage"
                 src="images/auth/add-photo_3x.png">
            <img class="thumb profile-file clip-circle"
                 ng-show="CreateStudentModal.file.$valid"
                 ngf-thumbnail="parentOneImage">

          </button>
          <div class="errors">
            <p ng-show="CreateStudentModal.fileParent1.$error.maxSize " class="help-block">File exceeds allowed size </p>
            <p ng-show="createStudentClicked && CreateStudentModal.fileParent1.$error.required " class="help-block">Parent photo is required </p>
            <p ng-show="CreateStudentModal.fileParent1.$error.minWidth " class="help-block">File invalid min width </p>
            <p ng-show="CreateStudentModal.fileParent1.$error.minHeight " class="help-block">File invalid min height </p>
          </div>
        </div>
      </div>
      <div class="name-container">
        <div class="first-middle-name">
          <div style="display: flex">
            <div class="first-name form-padding">
              <input class="greyFont new-student-form-input"
                     ng-model='newStudent.parents[0].first_name'
                     name='newStudent_parent1_first_name'
                     ng-minlength="2"
                     placeholder="First Name*"
                     required>
              <div class="errors">
                <p ng-show="createStudentClicked && CreateStudentModal.newStudent_parent1_first_name.$error.required || CreateStudentModal.newStudent_parent1_first_name.$dirty && CreateStudentModal.newStudent_parent1_first_name.$error.required" class="help-block">First name is required.</p>
                <p ng-show="CreateStudentModal.newStudent_parent1_first_name.$error.minlength" class="help-block">First name is to short</p>
              </div>
            </div>
            <div class="middle-name form-padding">
              <input class="greyFont new-student-form-input"
                     ng-model='newStudent.parents[0].middle_name'
                     name='newStudent_parent1_middle_name'
                     ng-minlength="2"
                     placeholder="Middle Name">
              <div class="errors">
                <p ng-show="CreateStudentModal.newStudent_parent1_middle_name.$error.minlength" class="help-block">Middle name is to short</p>
              </div>
            </div>
          </div>
        </div>
        <div class="last-name form-padding">
          <input class="greyFont new-student-form-input"
                 ng-model='newStudent.parents[0].last_name'
                 name='newStudent_parent1_last_name'
                 ng-minlength="2"
                 placeholder="Last Name*"
                 required>
          <div class="errors">
            <p ng-show="createStudentClicked && CreateStudentModal.newStudent_parent1_last_name.$error.required || CreateStudentModal.newStudent_parent1_last_name.$dirty && CreateStudentModal.newStudent_parent1_last_name.$error.required" class="help-block">Last name is required.</p>
            <p ng-show="CreateStudentModal.newStudent_parent1_last_name.$error.minlength" class="help-block">Last name is to short</p>
          </div>
        </div>
      </div>
      <div class="phone-email-container">
        <div class="phone form-padding">
          <input class="greyFont new-student-form-input"
                 ng-model='newStudent.parents[0].phone'
                 name='newStudent_parent1_phone'
                 placeholder="Phone"
                 type="tel">
        </div>
        <div class="email form-padding">
          <input type="text"
                 name="newStudent_parent1_email"
                 class="greyFont new-student-form-input"
                 placeholder="Email*"
                 ng-model="newStudent.parents[0].email"
                 ng-maxlength="40"
                 ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/"
                 required/>
          <div class="errors">
            <div ng-messages="CreateStudentModal.newStudent_parent1_email.$error">
              <div ng-message="pattern" class="help-block">Please enter a valid email address.</div>
            </div>
            <p class="help-block" ng-show="CreateStudentModal.newStudent_parent1_email.$dirty && CreateStudentModal.newStudent_parent1_email.$error.maxlength">E-mail is too long.</p>
            <p class="help-block" ng-show="createStudentClicked  && CreateStudentModal.newStudent_parent1_email.$error.required">Parent E-mail is required.</p>
            <p class="help-block" ng-show="createStudentClicked  && newStudent.parents[0].email === newStudent.email || createStudentClicked && newStudent.parents[0].email === newStudent.parents[1].email && showContinue">Parent E-mail should be unique.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom-block">
      <div class="gender-container greyFont">
        <div class="gender gender-student male" ng-click="setGender(1, 1)">
          <span ng-class="{'picked-gender' : newStudent.parents[0].gender === 1}">Male</span>
          <img ng-show="newStudent.parents[0].gender === 1" src="../images/students/underline.svg">
        </div>
        <div class="gender gender-student female" ng-click="setGender(2, 1)">
          <span ng-class="{'picked-gender' : newStudent.parents[0].gender === 2}">Female</span>
          <img ng-show="newStudent.parents[0].gender === 2" src="../images/students/underline.svg">
        </div>
        <div class="gender gender-student other" ng-click="setGender(3, 1)">
          <span ng-class="{'picked-gender' : newStudent.parents[0].gender === 3}">Other</span>
          <img ng-show="newStudent.parents[0].gender === 3" src="../images/students/underline.svg">
        </div>
      </div>
      <div class="student-id-container">
        <div class= "student-id">
          <span class="text">
            By adding parent email, he will automaticaly invited to join this class in ClassDig.
          </span>
        </div>
      </div>
    </div>
  </div>




  <div class="sub-header select-users">
    <h3></h3>
  </div>
  <div ng-show="!showContinue" class="colorcover ClossAddDataTime">
    <div class="color">
      <div class={{userData.color}} id='CloseTime' style="display: flex">
        <img ng-src={{userData.iconAddButton}} ng-click="showContinue = true; newStudent.parents[1].gender = 2">
        <p>Add another parent</p>
      </div>
    </div>
  </div>
  <div class="personal-information-container" ng-if="showContinue">
    <div class="top-block">
      <div class="img-upload-container">
        <div class="upload-form">
          <button id="btn-add-photo-parent-two"
                  type="image"
                  name="fileParent2"
                  accept="image/*"
                  ng-model="parentTwoImage"
                  ngf-change="uploaded($files, 2)"
                  ngf-select
                  ngf-max-size="5MB"
                  ngf-pattern="'image/*'"
                  ngf-accept="'image/*'"
                  ngf-resize="{width: 200, height: 200}"
                  required>

            <img class="add-photo clip-circle"
                 ng-hide="parentTwoImage"
                 src="images/auth/add-photo_3x.png">
            <img class="thumb profile-file clip-circle"
                 ng-show="CreateStudentModal.file.$valid"
                 ngf-thumbnail="parentTwoImage">

          </button>
          <div class="errors">
            <p ng-show="CreateStudentModal.fileParent2.$error.maxSize " class="help-block">File exceeds allowed size </p>
            <p ng-show="createStudentClicked && CreateStudentModal.fileParent2.$error.required " class="help-block">Parent photo is required </p>
            <p ng-show="CreateStudentModal.fileParent2.$error.minWidth " class="help-block">File invalid min width </p>
            <p ng-show="CreateStudentModal.fileParent2.$error.minHeight " class="help-block">File invalid min height </p>
          </div>
        </div>
      </div>
      <div class="name-container">
        <div class="first-middle-name">
          <div style="display: flex">
            <div class="first-name form-padding">
              <input class="greyFont new-student-form-input"
                     ng-model='newStudent.parents[1].first_name'
                     name='newStudent_parent2_first_name'
                     ng-minlength="2"
                     placeholder="First Name*"
                     required>
              <div class="errors">
                <p ng-show="createStudentClicked && CreateStudentModal.newStudent_parent2_first_name.$error.required || CreateStudentModal.newStudent_parent2_first_name.$dirty && CreateStudentModal.newStudent_parent2_first_name.$error.required" class="help-block">First name is required.</p>
                <p ng-show="CreateStudentModal.newStudent_parent2_first_name.$error.minlength" class="help-block">First name is to short</p>
              </div>
            </div>
            <div class="middle-name form-padding">
              <input class="greyFont new-student-form-input"
                     ng-model='newStudent.parents[1].middle_name'
                     name='newStudent_parent2_middle_name'
                     ng-minlength="2"
                     placeholder="Middle Name">
              <div class="errors">
                <p ng-show="CreateStudentModal.newStudent_parent2_middle_name.$error.minlength" class="help-block">Middle name is to short</p>
              </div>
            </div>
          </div>
        </div>
        <div class="last-name form-padding">
          <input class="greyFont new-student-form-input"
                 ng-model='newStudent.parents[1].last_name'
                 name='newStudent_parent2_last_name'
                 ng-minlength="2"
                 placeholder="Last Name*"
                 required>
          <div class="errors">
            <p ng-show="createStudentClicked && CreateStudentModal.newStudent_parent2_last_name.$error.required || CreateStudentModal.newStudent_parent2_last_name.$dirty && CreateStudentModal.newStudent_parent2_last_name.$error.required" class="help-block">Last name is required.</p>
            <p ng-show="CreateStudentModal.newStudent_parent2_last_name.$error.minlength" class="help-block">Last name is to short</p>
          </div>
        </div>
      </div>
      <div class="phone-email-container">
        <div class="phone form-padding">
          <input class="greyFont new-student-form-input"
                 ng-model='newStudent.parents[1].phone'
                 name='newStudent_parent2_phone'
                 placeholder="Phone"
                 type="tel">
        </div>
        <div class="email form-padding">
          <input type="text"
                 name="newStudent_parent2_email"
                 class="greyFont new-student-form-input"
                 placeholder="Email*"
                 ng-model="newStudent.parents[1].email"
                 ng-maxlength="40"
                 ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/"
                 required/>
          <div class="errors">
            <div ng-messages="CreateStudentModal.newStudent_parent2_email.$error">
              <div ng-message="pattern" class="help-block">Please enter a valid email address.</div>
            </div>
            <p class="help-block" ng-show="CreateStudentModal.newStudent_parent2_email.$dirty && CreateStudentModal.newStudent_parent2_email.$error.maxlength">E-mail is too long.</p>
            <p class="help-block" ng-show="createStudentClicked && CreateStudentModal.newStudent_parent2_email.$error.required">Parent E-mail is required.</p>
            <p class="help-block" ng-show="createStudentClicked && showContinue && newStudent.parents[0].email === newStudent.parents[1].email || newStudent.parents[1].email === newStudent.email && createStudentClicked && showContinue">Parent E-mail should be unique.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom-block">
      <div class="gender-container greyFont">
        <div class="gender gender-student male" ng-click="setGender(1, 2)">
          <span ng-class="{'picked-gender' : newStudent.parents[1].gender === 1}">Male</span>
          <img ng-show="newStudent.parents[1].gender === 1" src="../images/students/underline.svg">
        </div>
        <div class="gender gender-student female" ng-click="setGender(2, 2)">
          <span ng-class="{'picked-gender' : newStudent.parents[1].gender === 2}">Female</span>
          <img ng-show="newStudent.parents[1].gender === 2" src="../images/students/underline.svg">
        </div>
        <div class="gender gender-student other" ng-click="setGender(3, 2)">
          <span ng-class="{'picked-gender' : newStudent.parents[1].gender === 3}">Other</span>
          <img ng-show="newStudent.parents[1].gender === 3" src="../images/students/underline.svg">
        </div>
      </div>
      <div class="student-id-container">
        <div class= "student-id">
          <span class="text">
            By adding parent email, he will automaticaly invited to join this class in ClassDig.
          </span>
        </div>
      </div>
    </div>
  </div>



  <!-- TAG -->
  <div class="sub-header">
    <h3>TAG</h3>
  </div>
  <div class="tag-container">
    <div class="tag-title greyFont">Tag will appear in the student’s profile to remind you about a need or concern.</div>
    <div class="tags">
      <div class="tag aid">
        <div class="icon-name">
          <div>
            <span class="icon">
              <img src="../images/students/aid.png">
            </span>
            <span class="name greyFont">Need aid</span>
          </div>
        </div>
        <div class="on-off">
          <div class="onoffswitch">
            <input  type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="aidonoffswitch" checked>
            <label class="onoffswitch-label" for="aidonoffswitch" ng-click="onOffTag('need_aid')">
              <span class="onoffswitch-inner {{userData.background}}"></span>
              <span class="onoffswitch-switch"></span>
            </label>
          </div>
        </div>
      </div>
      <div class="tag concern">
        <div class="icon-name">
          <div>
            <span class="icon">
              <img src="../images/students/concern.png">
            </span>
            <span class="name greyFont">Concern</span>
          </div>
        </div>
        <div class="on-off">
          <div class="onoffswitch">
            <input  type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="concernonoffswitch" checked>
            <label class="onoffswitch-label" for="concernonoffswitch" ng-click="onOffTag('concern')">
              <span class="onoffswitch-inner {{userData.background}}"></span>
              <span class="onoffswitch-switch"></span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>




  <!-- NOTE -->
  <div class="sub-header ">
    <h3>NOTE</h3>
  </div>
  <div class="poll-modal-create-question poll-modal-note">
    <div class=" question note">
      <input id=""  class="answear-text greyFont" type="text" placeholder="Write your note" ng-model ='newStudent.note'>
    </div>
  </div>

  <!-- FOOTER-->
  <div class="modal-footer">
    <button class="btn-cansel {{userData.color}}"
            type="button"
            ng-click="cancel()">Cancel
    </button>

    <button class="btn-createClass {{userData.background}}"
            style="width: auto;"
            type="submit"
            ng-click="createStudentClicked = true; ok()">{{editing ? 'EDIT STUDENT' : 'ADD STUDENT'}}
    </button>

  </div>
</form>
