<!-- Header -->
<div id="header" ng-include="'components/header/header.html'"></div>

<div class="row">

  <div id="menuClass" ng-include="'components/class/menuClass/menuClass.html'" class="col-md-3"></div>

  <div class="container col-md-9">



    <div ng-controller = "myCtrl">
      <create-class create-class-time ="createClassTime"> </create-class>
      <p>{{createClassTime}}</p>
    </div>

    <progress-bar></progress-bar>
    <color-picker selected-color="selectedcolor" function-select-color="functionSelectColor"></color-picker>

    <!--<div ng-controller="ModalDemoCtrl as $ctrl" class="modal-demo">-->
      <!--<button type="button" class="btn btn-default" ng-click="$ctrl.openModal()">Open me!</button>-->
    <!--</div>-->


    <div ng-controller="mySelectorController" style = "width:300px">
      <custom-button ></custom-button>
      <custom-selector></custom-selector>
    </div>

  </div>

</div>

<!-- build:section recursive views -->
<!-- /build -->

<!-- Footer -->
<!--<div id="footer" ng-include="'../components/footer/footer.html'"></div>-->
