<div id="header" ng-include="'components/header/header.html'"></div>
<div class="class-menu">
<div class="premium-header">
  <div class="premium-header-title {{userData.color}}"> My Profile</div>
</div>

<div class = "class-menu-item-container profile-menu-item-container">

  <div class = "class-menu-item-block-right-container profile-right-container" style="position : relative">
    <div class="class-menu-item-block-right class-menu-item-block-right-profile refreshProfile" style="overflow-y: auto !important; overflow-x: hidden;">
      <user-info show-additional-info="true" selected-user="updateUserProfile" ng-show="showProfile"></user-info>

      <!--show followers list button-->

      <div class = 'parent-request-button' ng-click = 'seeRequestToFollow()' ng-show="requestedUsers.length>0 && showProfile" >
        <img src="../images/parents/icon-invite-parent.svg">
        <span ng-show="requestedUsers.length===1"> {{requestedUsers.length}} REQUEST TO FOLLOW</span>
        <span ng-show="requestedUsers.length>1"> {{requestedUsers.length}} REQUESTS TO FOLLOW</span>
      </div>
      <!------------------------------>

      <!--list of followers-->

      <!--<div class="student-info">-->
        <div class="student-in-requests-container" ng-repeat="user in requestedUsers" ng-show="!showProfile">
          <div class="student-in-requests">
            <div  class="container-flex container-button-flex">
              <div class="container-flex container-button-flex">
              <div class="student-img" ng-style="{'background-image':'url({{user.user.photo || user.user.image}})'}"></div>
              <div class="student-name">
                <div>
                  {{user.user.first_name}} {{user.user.last_name}}
                </div>
              </div>
              </div>
              <div class="buttons">
                <div>
                  <button class="btn approve-btn {{userData.background}} white-color "  ng-click="approveReject(user, 1)">Accept</button>
                  <button class="btn approve-btn {{userData.color}} {{userData.border}}"  ng-click="approveReject(user, 2)">Reject</button>
                </div>
              </div>
            </div>
          </div>
        <!--</div>-->

        <!--end followers list-->

      </div>

      <div ng-show="requestedUsers.length===0 && !showProfile" class="no-results-massage">There are no followers </div>

      <div class = 'parent-request-button' ng-click = 'seeProfile()' ng-show="!showProfile">
        BACK
      </div>
    </div>
    <div class="edit-profile-button-container" ng-click="editProfile()">
      <img src="images/profile/edit_button.png" style="width: 78px; height: 78px;">
    </div>
  </div>

  <div class = "class-menu-item-block-center-container profile-block-center-container">
    <div class="class-menu-item-block-center profile-center-container">
      <div class="profile-subheader">
        <div class="profile-subheader-item" id = "Upcoming" ng-click = "switchUpcoming()">Upcoming </div>
        <div class="profile-subheader-item" id = "Schedule" ng-click = "switchSchedule()">Schedule</div>
        <div class="profile-subheader-item" id = "Activities" ng-click = "switchActivities()">Activities</div>
        <div class="profile-subheader-item" id = "Users" ng-click = "switchUser(user)"></div>
      </div>

      <div class="upcomingContainer" ng-show="showUpcoming">
        <div class="upcomingList">
          <div ng-repeat="upcomingEvent in listOfUpcomingEvents" class="upcoming-item">
            <div class="upcoming-item-left">
              <div class="upcoming-item-date" style="background-color: {{upcomingEvent.color | colorParse}} ">
               <span>{{functionGetEventTime(upcomingEvent.due_date)}}</span>
                {{functionGetEventTimeMonth(upcomingEvent.due_date)}}
              </div>

              <div class="upcoming-item-star-container">
                <img class="active-star" ng-class="{'mark-active-star': upcomingEvent.owner_id===user.data.id}" src="images/profile/icon-star-important.svg" ng-if="upcomingEvent.important" ng-click="markImportantItem(0,upcomingEvent.id ,$index,upcomingEvent.owner_id)">
                <img class="star" ng-class="{'mark-star': upcomingEvent.owner_id===user.data.id}" src="images/profile/icon-star.svg" ng-if="!upcomingEvent.important" ng-click="markImportantItem(1,upcomingEvent.id,$index,upcomingEvent.owner_id)">
              </div>
              <div class="upcoming-item-title">{{upcomingEvent.title}}<br>
              <span class="upcoming-item-time">{{upcomingEvent.time_start}}</span></div>
              </div>

            <div class="upcoming-item-right">
              <div class="upcoming-item-class-data">
                <div class="upcoming-item-class">{{upcomingEvent.class.name}}</div>
                <div class="upcoming-item-location" ng-show="upcomingEvent.location"><img src="images/modal/location-grey.svg">{{upcomingEvent.location}}</div>
              </div>
              <div class="controll-button" ng-if="upcomingEvent.owner_id===user.data.id">
                <button class="btn-default btn"><img src="images/events/controll-button.svg"></button>
                <div class="inside-menu dropdown-menu">
                  <div class="menu-option" ng-click="editEvent(upcomingEvent,$index)">Edit</div>
                  <div class="menu-option" ng-click="deleteEvent(upcomingEvent,$index)">Delete</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div ng-show="requestUpcomingInProgress" class="loader"></div>
      </div>
      <div class="scheduleContainer" ng-show="showSchedule" style="position: relative">
        <div class="schedule-time-header" ng-show="!requestInProgress">Time</div>

        <div class="events-calendar">
          <div id="calendar" class="arrow-color-{{role}}" ui-calendar="uiConfig.calendar" ng-model="eventSources" calendar="cdCalendar" data-calendar="myCalendar"></div>
          <div ng-show="requestInProgress" class="loader"></div>
        </div>
      </div>
      <div class="activitiesContainer" id="feedList" ng-if="showActivities">
        <ul class="activitieslist">
          <li ng-repeat="activity in activities track by $index">
            <div class="current-feed" ng-if="activity.type==='announcement'">
              <div class="follow-header">
                <div class="follow-header-info">
                  <div class="follow-header-img-container" style="background-image: url({{user.photo}})"></div>
                  <div>
                    <div class = 'follow-header-name'>{{user.first_name}}{{user.last_name}} <span> @{{user.first_name}}</span> </div>
                    <div class = 'follow-header-date'>{{getFinishTime(activity.created_at)}} ago</div>
                  </div>
                </div>
                <div class="follow-header-action">has posted <a ng-href="#/class/{{classId}}/user/{{userId}}/announcments"> a new announcement</a></div>
              </div>
            </div>
            <div class="current-feed"  ng-if="activity.type==='follows'">
              <div class="follow-header">
                <div class="follow-header-info">
                  <div class="follow-header-img-container" style="background-image: url({{user.photo}})"></div>
                  <div>
                    <div class = 'follow-header-name'>{{user.first_name}}{{user.last_name}} <span> @{{user.first_name}}</span> </div>
                    <div class = 'follow-header-date'>{{getFinishTime(activity.updated_at)}} ago</div>
                  </div>
                </div>
                <div class="follow-header-action">has followed</div>
                <div class="follow-header-info follow-user">
                  <div class="follow-header-img-container" style="background-image: url({{activity.image}})"></div>
                  <a data-id="{{activity.user_id}}" ng-href="#/findPeople" class="followItem-left" ng-click="show(activity)">
                    <div class = 'follow-header-name'>{{activity.first_name}} {{activity.last_name}} <span> @{{activity.first_name}}</span></div>
                    <div class = 'follow-header-date tohide'>{{activity.updated_at}} ago</div>
                  </a>
                </div>
              </div>
            </div>
            <div class="current-feed" ng-if="activity.type==='followers'">
              <div class="follow-header">
                <div class="follow-header-info">
                  <div class="follow-header-img-container" style="background-image: url({{activity.image}})"></div>
                  <div>
                    <a data-id="{{activity.user_id}}" ng-href="#/findPeople" class="followItem-left" ng-click="show(activity)">
                      <div class = 'follow-header-name'>{{activity.first_name}}{{activity.last_name}} <span> @{{activity.first_name}}</span></div>
                      <div class = 'follow-header-date'>{{getFinishTime(activity.updated_at)}} ago</div>
                    </a>
                  </div>
                </div>
                <div class="follow-header-action">has followed</div>
                <div class="follow-header-info follow-user">
                  <div class="follow-header-img-container" style="background-image: url({{user.photo}})"></div>
                  <div>
                    <div class = 'follow-header-name'>{{user.first_name}} {{user.last_name}} <span> @{{user.first_name}}</span></div>
                    <div class = 'follow-header-date tohide'>{{activity.updated_at}} ago</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="current-feed story" ng-if="activity.type==='story'">
              <!------------- Feed header ------------------>
              <div class="follow-header">
                <div class="follow-header-info">
                  <div class="follow-header-img-container" style="background-image: url({{user.photo}})"> </div>
                  <div>
                    <div class = 'follow-header-name'>{{user.first_name}} {{user.last_name}} <span> @{{user.first_name}}</span></div>
                    <div class = 'follow-header-date'>{{getFinishTime(activity.created_at.date )}} ago</div>
                  </div>
                </div>
              </div>
              <!------------- End Feed header ------------------>

              <!------------- Feed content ------------------>
              <div class ="feed-content">
                <div class="feed-content-data" ng-if="activity.file">

                  <div class="feed-content-data-img" ng-if="feed.type_file===1" >
                    <img ng-src="{{activity.file.link}}"  width="100%" height="auto">
                  </div>

                  <div class="feed-content-data-video" ng-if="activity.type_file===2" >
                    <video width="100%" height="auto" controls>
                      <source ng-src="{{activity.file.link}}" >
                      Your browser does not support the video.
                    </video>
                  </div>

                  <div class="feed-content-data-link " ng-if="activity.type_file===3" >
                    <a class="{{userData.color}}" target="_self" href={{activity.file.link}} download="activity.file.filename" >
                      <img ng-src="{{iconAddLink}}">
                      {{activity.file.filename}}
                    </a>
                  </div>
                </div>

                <div class="feed-content-link" ng-if="activity.link && !activity.youtube">
                  <a ng-href="{{showFeedLinkFunction(activity.link)}}" target="_blank" class="{{userData.color}}">{{activity.link}}</a>
                </div>

                <div class="feed-content-link" ng-if="activity.link && activity.youtube" style="display: flex; justify-content: center">
                  <youtube-video  video-id="activity.link"></youtube-video>
                </div>

                <div class="feed-content-text">{{activity.content}}</div>
              </div>

              <!------------- End Feed content ------------------>
              <div class="feed-feedback">
                <div class="feed-likes">
                  <img ng-if="!activity.is_liked" src="images/feed/icon-likes.svg" ng-click="addLikeFunction(activity)">
                  <img ng-if="activity.is_liked" src="images/feed/icon-liked.svg" ng-click="addLikeFunction(activity)">
                  {{activity.likes}}
                </div>
                <div class="feed-comment" ng-click="openModalAddComment(activity)">
                  <img ng-if="!activity.is_comment || activity.comments.data.length===0" src="images/feed/icon-comments.svg">
                  <img ng-if="activity.is_comment  && activity.comments.data.length>0 "  src="images/feed/icon-commented.svg">
                  {{activity.comments.data.length}}</div>
              </div>

              <div class="feed-comments">
                <div class="comment" ng-repeat="comment in activity.comments.data" ng-if="$index<2 || showComment">
                  <div class ="comment-info">
                    <div class="comment-owner">{{comment.owner.first_name}} {{comment.owner.last_name}} </div>
                    <div class="comment-content">{{comment.content}}</div>
                  </div>
                  <div class="del-comment-button" ng-click="deleteFeedComment(comment,activity.comments.data, activity.comments_count )" ng-show="comment.owner.id===userId">x</div>
                </div>
                <div class="showComments" ng-click="showCommentsFunction()" ng-if="!showComment && activity.comments.data.length>2">Show more comments</div>
                <div class="showComments" ng-click="hideCommentsFunction()" ng-if="showComment && activity.comments.data.length>2 ">Hide comments</div>
              </div>
            </div>
            <!--<div class="current-feed" ng-if="activity.type==='changeprofile'">
              <div class="follow-header">
                <div class="follow-header-info">
                  <div class="follow-header-img-container" style="background-image: url({{activity.photo}})"></div>
                  <div>
                    <div class = 'follow-header-name'>{{activity.first_name}}{{activity.last_name}} <span> @{{activity.first_name}}</span></div>
                    <div class = 'feed-header-date'>{{getFinishTime(activity.updated_at)}} ago</div>
                  </div>
                </div>
                <div class="follow-header-action">has changed {{activity.gender}} profile</div>
              </div>
            </div>-->
          </li>
          <!--<li><feed-list feed-url="feedUrl+'?page='"></feed-list></li>    -->
        </ul>
      </div>
      <div class="usersProfileContainer" ng-show="showUser">
        <div class = "class-menu-item-block-right-container">
          <div class="class-menu-item-block-right class-menu-item-block-right-profile">
            <user-info selected-user="activeUser" show-additional-info="false"></user-info>
            <div class="user-feeds-container" selected-user="activeUser">
              <!--<feed-list feed-url="feedUrl+'&page='"></feed-list>-->
              <ul selected-user="user" class="activitieslist">
                <li ng-repeat="activity in activities track by $index">
                  <div class="current-feed" ng-if="activity.type==='announcement'">
                    <div class="follow-header">
                      <div class="follow-header-info">
                        <div class="follow-header-img-container" style="background-image: url({{user.photo}})"></div>
                        <div>
                          <div class = 'follow-header-name'>{{user.first_name}}{{user.last_name}} <span> @{{user.first_name}}</span> </div>
                          <div class = 'follow-header-date'>{{getFinishTime(activity.created_at)}} ago</div>
                        </div>
                      </div>
                      <div class="follow-header-action">has posted <a ng-href="#/class/{{classId}}/user/{{userId}}/announcments"> a new announcement</a></div>
                    </div>
                  </div>
                  <div class="current-feed"  ng-if="activity.type==='follows'">
                    <div class="follow-header">
                      <div class="follow-header-info">
                        <div class="follow-header-img-container" style="background-image: url({{user.photo}})"></div>
                        <div>
                          <div class = 'follow-header-name'>{{user.first_name}}{{user.last_name}} <span> @{{user.first_name}}</span> </div>
                          <div class = 'follow-header-date'>{{getFinishTime(activity.updated_at)}} ago</div>
                        </div>
                      </div>
                      <div class="follow-header-action">has followed</div>
                      <div class="follow-header-info follow-user">
                        <div class="follow-header-img-container" style="background-image: url({{activity.image}})"></div>
                        <a data-id="{{activity.user_id}}" ng-href="#/findPeople" class="followItem-left" ng-click="show(activity)">
                          <div class = 'follow-header-name'>{{activity.first_name}} {{activity.last_name}} <span> @{{activity.first_name}}</span></div>
                          <div class = 'follow-header-date tohide'>{{activity.updated_at}} ago</div>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="current-feed" ng-if="activity.type==='followers'">
                    <div class="follow-header">
                      <div class="follow-header-info">
                        <div class="follow-header-img-container" style="background-image: url({{activity.image}})"></div>
                        <div>
                          <a data-id="{{activity.user_id}}" ng-href="#/findPeople" class="followItem-left" ng-click="show(activity)">
                            <div class = 'follow-header-name'>{{activity.first_name}}{{activity.last_name}} <span> @{{activity.first_name}}</span></div>
                            <div class = 'follow-header-date'>{{getFinishTime(activity.updated_at)}} ago</div>
                          </a>
                        </div>
                      </div>
                      <div class="follow-header-action">has followed</div>
                      <div class="follow-header-info follow-user">
                        <div class="follow-header-img-container" style="background-image: url({{user.photo}})"></div>
                        <div>
                          <div class = 'follow-header-name'>{{user.first_name}} {{user.last_name}} <span> @{{user.first_name}}</span></div>
                          <div class = 'follow-header-date tohide'>{{activity.updated_at}} ago</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="current-feed story" ng-if="activity.type==='story'">
                    <!------------- Feed header ------------------>
                    <div class="follow-header">
                      <div class="follow-header-info">
                        <div class="follow-header-img-container" style="background-image: url({{user.photo}})"> </div>
                        <div>
                          <div class = 'follow-header-name'>{{user.first_name}} {{user.last_name}} <span> @{{user.first_name}}</span></div>
                          <div class = 'follow-header-date'>{{getFinishTime(activity.created_at.date )}} ago</div>
                        </div>
                      </div>
                    </div>
                    <!------------- End Feed header ------------------>

                    <!------------- Feed content ------------------>
                    <div class ="feed-content">
                      <div class="feed-content-data" ng-if="activity.file">

                        <div class="feed-content-data-img" ng-if="feed.type_file===1" >
                          <img ng-src="{{activity.file.link}}"  width="100%" height="auto">
                        </div>

                        <div class="feed-content-data-video" ng-if="activity.type_file===2" >
                          <video width="100%" height="auto" controls>
                            <source ng-src="{{activity.file.link}}" >
                            Your browser does not support the video.
                          </video>
                        </div>

                        <div class="feed-content-data-link " ng-if="activity.type_file===3" >
                          <a class="{{userData.color}}" target="_self" href={{activity.file.link}} download="activity.file.filename" >
                            <img ng-src="{{iconAddLink}}">
                            {{activity.file.filename}}
                          </a>
                        </div>
                      </div>

                      <div class="feed-content-link" ng-if="activity.link && !activity.youtube">
                        <a ng-href="{{showFeedLinkFunction(activity.link)}}" target="_blank" class="{{userData.color}}">{{activity.link}}</a>
                      </div>

                      <div class="feed-content-link" ng-if="activity.link && activity.youtube" style="display: flex; justify-content: center">
                        <youtube-video  video-id="activity.link"></youtube-video>
                      </div>

                      <div class="feed-content-text">{{activity.content}}</div>
                    </div>

                    <!------------- End Feed content ------------------>
                    <div class="feed-feedback">
                      <div class="feed-likes">
                        <img ng-if="!activity.is_liked" src="images/feed/icon-likes.svg" ng-click="addLikeFunction(activity)">
                        <img ng-if="activity.is_liked" src="images/feed/icon-liked.svg" ng-click="addLikeFunction(activity)">
                        {{activity.likes}}
                      </div>
                      <div class="feed-comment" ng-click="openModalAddComment(activity)">
                        <img ng-if="!activity.is_comment || activity.comments.data.length===0" src="images/feed/icon-comments.svg">
                        <img ng-if="activity.is_comment  && activity.comments.data.length>0 "  src="images/feed/icon-commented.svg">
                        {{activity.comments.data.length}}</div>
                    </div>

                    <div class="feed-comments">
                      <div class="comment" ng-repeat="comment in activity.comments.data" ng-if="$index<2 || showComment">
                        <div class ="comment-info">
                          <div class="comment-owner">{{comment.owner.first_name}} {{comment.owner.last_name}} </div>
                          <div class="comment-content">{{comment.content}}</div>
                        </div>
                        <div class="del-comment-button" ng-click="deleteFeedComment(comment,activity.comments.data, activity.comments_count )" ng-show="comment.owner.id===userId">x</div>
                      </div>
                      <div class="showComments" ng-click="showCommentsFunction()" ng-if="!showComment && activity.comments.data.length>2">Show more comments</div>
                      <div class="showComments" ng-click="hideCommentsFunction()" ng-if="showComment && activity.comments.data.length>2 ">Hide comments</div>
                    </div>
                  </div>
                  <!--<div class="current-feed" ng-if="activity.type==='changeprofile'">
                    <div class="follow-header">
                      <div class="follow-header-info">
                        <div class="follow-header-img-container" style="background-image: url({{activity.photo}})"></div>
                        <div>
                          <div class = 'follow-header-name'>{{activity.first_name}}{{activity.last_name}} <span> @{{activity.first_name}}</span></div>
                          <div class = 'feed-header-date'>{{getFinishTime(activity.updated_at)}} ago</div>
                        </div>
                      </div>
                      <div class="follow-header-action">has changed {{activity.gender}} profile</div>
                    </div>
                  </div>-->
                </li>
                <!--<li><feed-list feed-url="feedUrl+'?page='"></feed-list></li>    -->
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
</div>
