<!-- Header -->
<div id="header" ng-include="'components/header/header.html'"></div>

<div ng-model="role" class="classes groups {{role}}" ng-init="init()">

  <div class="classes-header ">
    <div class="col-md-7 col-sm-7 col-xs-6 classes-main-header">
      <h3 class="{{'c-'+role}}">Groups</h3>
      <div ng-if="activeSubtitleTab === 'created'">
        <div class="classes-count" ng-show="paginatorCreated.items.length===0">No groups available</div>
        <div class="classes-count" ng-show="paginatorCreated.items.length===1">{{paginatorCreated.items.length}} group</div>
        <div class="classes-count" ng-show="paginatorCreated.items.length>1">{{paginatorCreated.items.length}} groups</div>
      </div>
      <div ng-if="activeSubtitleTab === 'joined'">
        <div class="classes-count" ng-show="paginatorJoined.items.length===0">No groups available</div>
        <div class="classes-count" ng-show="paginatorJoined.items.length===1">{{paginatorJoined.items.length}} group</div>
        <div class="classes-count" ng-show="paginatorJoined.items.length>1">{{paginatorJoined.items.length}} groups</div>
      </div>
    </div>

    <div class="col-md-5 col-sm-5 col-xs-6 classes-context-menu" ng-if="activeSubtitleTab === 'created'">
      <context-menu></context-menu>
    </div>

  </div>

  <div class="shadow" ng-show="groupsLists.allTypes">
    <div class="classes-subheader">
      <div id="created"  class="classes-subheader-item {{'c-'+role}}" ng-click = "changeView('created')">CREATED BY ME</div>
      <div id="joined" class="classes-subheader-item {{'c-'+role}}" ng-click = "changeView('joined')">JOINED</div>
    </div>
  </div>

  <div class="classes-block">
    <div class="classes-block-list height-when-not-parent">
      <div class="classes-block-list-main-container height-when-not-parent" style="overflow: hidden">

        <div class="classes-add-class modal-demo" ng-if="!selection.currentItem.length">
          <custom-button></custom-button>
        </div>

        <div ng-show="noGroups" class="classes-not-exists">
          <div class="class-background"><img href="#" src="images/groups/users-group.svg"></div>
          <div class="classes-info">You have no group created</div>
          <div class="no-classes">
            <div class="hint" ng-show="userData.role !=='parent'">
              <div class="hint-text"><span>Tap here to join</br> your first group</span></div>
              <img src="images/classes/brush_arrow.png">
            </div>
          </div>
        </div>




        <div ng-if="!noGroups && activeSubtitleTab === 'created'" id="createdCont" style="height: 100%; overflow: auto">
          <div class="classes-exists"
               infinite-scroll='paginatorCreated.nextPage()'
               infinite-scroll-container= '"#createdCont"'
               infinite-scroll-disabled='paginatorCreated.busy'
               infinite-scroll-distance='0'>
            <div class="class-item " ng-repeat="currentGroup in paginatorCreated.items"
                 ng-dblclick="openGroup(currentGroup)"
                 ng-class="{'active border-{{role}}': selection.currentItem.indexOf(currentGroup) != -1}"
                 ng-click="selectionWasChanged(currentGroup)">
              <div class="class-item-block">
                <div class="class-image">
                  <div class="class-cover">
                    <img src="{{currentGroup.image.link}}">
                  </div>
                </div>
                <div class="class-description group-description">
                  <div class="class-name group-name">{{currentGroup.cated_name}}</div>
                    <div class="class-members" ng-if="currentGroup.participants.length === 1">
                      <img src="{{'images/groups/users-' + role + '.svg'}}">
                      <span>{{currentGroup.participants.length}} member</span>
                    </div>
                    <div class="class-members"ng-if="currentGroup.participants.length > 1 || currentGroup.participants.length === 0">
                      <img src="{{'images/groups/users-' + role + '.svg'}}">
                      <span>{{currentGroup.participants.length}} members</span>
                    </div>
                </div>
              </div>
            </div>
            <div style="clear: both"></div>
          </div>
        </div>



        <div ng-if="!noGroups && activeSubtitleTab === 'joined'" id="joinedCont" style="height: 100%; overflow: auto">
        <div class="classes-exists"
             infinite-scroll='paginatorJoined.nextPage()'
             infinite-scroll-container= '"#joinedCont"'
             infinite-scroll-disabled='paginatorJoined.busy'
             infinite-scroll-distance='0'>
          <div class="class-item " ng-repeat="currentGroup in paginatorJoined.items"
               ng-dblclick="openGroup(currentGroup)" style="cursor: pointer">
            <div class="class-item-block">
              <div class="class-image">
                <div class="class-cover">
                  <img src="{{currentGroup.image.link}}">
                </div>
              </div>
              <div class="class-description group-description">
                <div class="class-name group-name">{{currentGroup.name}}</div>
                <div class="class-members" ng-if="currentGroup.participants.length === 1">
                  <img>
                  <span>{{currentGroup.participants.length}} member</span>
                </div>
                <div class="class-members"ng-if="currentGroup.participants.length > 1">
                  <img>
                  <span>{{currentGroup.participants.length}} members</span>
                </div>
              </div>
            </div>
          </div>
          <div style="clear: both"></div>
        </div>
        </div>



      </div>
    </div>

    <!--<div class="classes-block-stattistic groups-block-statistic">-->
      <!--<div class="title c-{{role}}">Join open groups</div>-->
    <!--</div>-->

  </div>




</div>
