<div class="select-people">
  <div class="modal-header {{'bg-' + role }} classdig-people-header">
    <h3 class="modal-title classdig-modal-title">Select class to move students in</h3>
    <button ng-click="$ctrl.close()" type="button" class="close classdig-close-button"
            data-dismiss="modal">&times;</button>
  </div>
  <div class="modal-body padding" style="min-height: 150px">
    <div ng-if ="!$ctrl.hasClass && !$ctrl.noClasses">
      <div id="add-people-loader" class="loader"></div>
    </div>
    <div ng-if ='$ctrl.hasClass' class="modal-section">
      <div class="modal-section-header">
        <p>SELECT CLASS</p>

        <div style="margin-left: 15px" class="modal-section-title">
          <div style="display: flex; margin-left: 4px;
    width: 324px;border-bottom: 1px solid #d9d9d9" class="select-class-container">

            <div style="flex: 1">
              Class
            </div>
            <div style="width: 200px; position: relative;" class="{{'c-' + role}}">
              <custom-selector class="{{role + '-color'}}" options="$ctrl.options"
                               selected-option="$ctrl.selectedOption.opt"></custom-selector>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div ng-if ='$ctrl.hasClass' class="modal-footer classdig-modal-footer">
    <button class="btn classdig-cancel-button {{'c-' + role }}" type="button" ng-click="$ctrl.cancel() ">CANCEL
    </button>
    <button class="btn {{'bg-' + role }} classdig-ok-button" type="button" ng-click="$ctrl.ok()">MOVE</button>

  </div>


</div>
