<!-- Header -->
<div id="header" ng-include="'components/header/header.html'"></div>

<div id="menuClass" ng-include="'components/class/menuClass/menuClass.html'"></div>

<div ng-model="role" class="class-menu {{role}}" ng-controller="pollsController">
  <div class="class-item-header ">
    <div class="class-menu-item-main-header col-md-5 col-sm-5 col-xs-6 ">
        <div class="{{'c-'+role}} ">Polls</div>
    </div>
    <div class="class-menu-item-main-subheader"></div>
    <div class="class-menu-item-context-menu col-md-7 col-sm-7 col-xs-6 " ng-show="selection.length !== 0" ng-hide="hideCustomButton || role === 'parent'">
      <context-menu></context-menu>
    </div>

  </div>

  <div class="class-menu-item-container">
    <div class="class-menu-item-block-center-container" >
      <div class="class-menu-item-block-center" style="position: relative; " >
        <div class="polls-main-container" style="position: static; height: 74vh ; overflow: auto" id = "pollList">
          <!---->
          <!---->
          <!---->
          <div class="no-polls" ng-show="pollsNotExist" >
            <div class="no-polls-img">
              <img src="images/pools.svg">
            </div>
            <div class="no-polls-title"><span>You have no polls.</span></div>
            <div class="polls-hint" ng-hide="hideCustomButton || role === 'parent'">
              <div class="polls-hint-text"><span>Tap here to create your first poll</span></div>
              <img src="images/brush_arrow.png">
            </div>
          </div>
          <div class="class-menu-item-add" ng-controller="pollsController as $ctrl" ng-hide="hideCustomButton || role === 'parent'" >
            <custom-button ng-click="$ctrl.openModal()"></custom-button>
          </div>
          <!--<div class="custom-button-container" ng-controller="pollsController as $ctrl" ng-show="allowPollCreate()" >-->
            <!--<custom-button ng-click="$ctrl.openModal()"></custom-button>-->
          <!--</div>-->
          <div class="exist-polls"
               infinite-scroll='pollList.nextPage()'
               infinite-scroll-container= '"#pollList"'
               infinite-scroll-disabled='pollList.busy'
               infinite-scroll-listen-for-event="list:filtered"
               infinite-scroll-distance='1'
               ng-show="pollsExist">
            <div>
              <ul>
                <li ng-repeat="pollItem in pollList.items track by $index" class = 'poll-list '
                    id ="{{$index}}"
                    ng-class="{'active border-{{role}}': ((selection.selectedItems.indexOf(pollItem.poll.id) != -1) &&pollItem.poll.user_id ===user.data.id )}"
                    multi-select
                    multi-select-item="pollItem.poll"
                    multi-select-selection='selection'
                    ng-click="selectionWasChanged($index, pollItem)"
                   >
                  <form >
                    <div class="poll-header">
                      <div class="poll-name">
                        <h3>{{pollItem.poll.name}}</h3>
                        <p>Created: {{ formatDataCreate(pollItem.poll.created_at)}}</p>
                        <!--<div class = "poll-img" ng-show = "pollItem.poll.attachments[0]"><img ng-src = "{{pollItem.poll.attachments[0].link}}"></div>-->
                      </div>
                      <div class="poll-participant">
                        <h6>
                          Participants:
                        </h6>
                        <arrayof-members members-array="pollItem.poll.participants"></arrayof-members>
                      </div>
                    </div>
                    <div class = "poll-image"><div class = "poll-img" ng-show = "pollItem.poll.attachments[0]"><img ng-src = "{{pollItem.poll.attachments[0].link}}"></div></div>

                    <div class="poll-choices">
                      <div ng-repeat="choice in pollItem.poll.questions" class = 'poll-answer-item {{pollItem.poll.id}}' ng-click="checkPollAnswer(choice.id, pollItem.poll.multi_select)" style = "flex-direction:row" >
                        <check-question  style = 'width:70%' question-title="choice.title" poll-item="pollItem" tittle-id = "$index+'block'" question-questions="choice.answers" question-multiselect="pollItem.poll.multi_select" common-class="pollItem.poll.id" user-answers="choice.userAnswers" time-end = "getFinishTime(pollItem.poll.time_frame)"></check-question>

                        <!--<div ng-show="showProgressBar(pollItem)" style="margin: 10px 0;">-->
                          <!--<progress-bar progress-number='30' current-text="trzzzsgrw"></progress-bar>-->
                        <!--</div>-->

                        <div style = "margin-left: 10px;width:30%"><img style = "width:100%" ng-src="{{choice.image.link}}"></div>

                      </div>
                      <whensee-results result-id="pollItem.poll.see_result_id"></whensee-results>
                      <div ng-show="pollItem.poll.note" class="greyFont"> <span style = "font-weight:bold">Note:</span> {{pollItem.poll.note}}</div>
                    </div>
                    <div class = "poll-footer">
                      <button  ng-show = "VoteButton(pollItem.poll.questions, pollItem.poll.user_id) && getFinishTime(pollItem.poll.time_frame)!==0" ng-click = "pushVoteToServer(pollItem.poll.id, pollItem, $index)" class = "{{userData.background}} poll-vote-button" id="{{pollItem.poll.id}}">Vote</button>
                      <div>
                        <p ng-show="getFinishTime(pollItem.poll.time_frame)!==0">Closes in {{getFinishTime(pollItem.poll.time_frame)}}</p>
                        <p ng-show="getFinishTime(pollItem.poll.time_frame)===0">Closed</p>
                      </div>
                      <div ng-show = "pollItem.poll.anonim===1">
                        <h6 class ="{{userData.color}}"> {{pollItem.poll.voted}} votes</h6>
                      </div>
                      <div ng-show = "pollItem.poll.anonim===0" style = "display: flex">
                        <p style = "margin-right: 10px">Voters:</p>
                        <arrayof-members members-array="pollItem.poll.voted"></arrayof-members>
                      </div>
                    </div>
                  </form>
                </li>
                <div style='clear: both;'></div>
              </ul>
            </div>

            <!---->
            <!---->
            <!---->
          </div>

          <div id='poll-loader' class="loader more-menu-loader" style=""></div>
        </div>
      </div>

    </div>

    <div class="class-menu-item-block-right-container">
      <div class="class-menu-item-block-right">
        <div class="class-menu-item-block-right-header poll-right-header">
          <div class = 'active-poll-tittle {{userData.color}}'>
            {{activePoll.poll.name}}
          </div>
          <div class = 'active-poll-voters'>{{activePoll.voters}}</div>
        </div>
        <div class = "active-poll-voters-list">
          <select-users ng-show="activePoll.poll.name"></select-users>
        </div>



        <div class="student-info"></div>
      </div>
    </div>
  </div>
</div>

<!--
<div class="classes-add-class" ng-controller="ModalDemoController as $ctrl" class="modal-demo">
        <custom-button ng-click="$ctrl.openModal()"></custom-button>
</div>-->
