<div class = "joinClass">
  <form name="email" novalidate>
    <div class="modal-header {{userData.background}}">
      <h3 class="modal-title" id="modal-title">Please, enter teacher's email</h3>
      <button class="modal-btn-close {{userData.background}}" type="button" ng-click="cancel()">+</button>
    </div>
    <!-- =============== Class Details =======================-->
    <div class="colorcover">
      <div class="color">
        <div class="choose-semester">
          <!-- ===== Name Class ===== -->
          <div class="dig-prop" style="flex-direction: column;">
            <input type="text"
                   name="mail"
                   class="greyFont new-student-form-input"
                   placeholder="Email"
                   ng-model="mail"
                   ng-maxlength="40"
                   ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/"
                   required/>
            <div class="errors">
              <div ng-messages="email.mail.$error">
                <div ng-message="pattern" class="help-block">Please enter a valid email address.</div>
              </div>
              <p class="help-block" ng-show="email.mail.$dirty && email.mail.$error.maxlength">E-mail is too long.</p>
              <p class="help-block" ng-show="submitted && email.mail.$error.required || email.mail.$dirty && email.mail.$error.required">E-mail is required.</p>
            </div>
          </div>
          <hr>
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <button class="btn-cansel {{userData.color}}"
              type="button"
              ng-click="cancel()">Cancel
      </button>
      <button class="btn-createClass {{userData.background}}"
              type="submit"
              ng-click="submitted = true; shareStudents()">SHARE
      </button>
      <p ng-show="showErrorMessage" class="error-message">{{errorMessage}}</p>
    </div>
  </form>
</div>
