<div id="header" ng-include="'components/header/header.html'"></div>
<div class="mess-block">
  <div class="message-block-header {{'c-' + role}}">
    <div  class=" col-md-5 col-sm-5 col-xs-6">
        <span class="title">
            Messages
        </span>
        <span class="unread-messages" ng-show="unread !== -1">
            {{unread == 1? unread +' unread message':  unread + ' unread messages'}}
        </span>
    </div>
    <div class=" col-md-7 col-sm-7 col-xs-6 class-menu-item-context-menu" ng-show="selection.length !== 0">
      <context-menu></context-menu>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding">

        <div class="dialog-list">
          <div class="dialog-wrapper"  id="dialog-list">
            <div infinite-scroll-container="'#dialog-list'"
                 infinite-scroll='dialog.nextPage()'
                 infinite-scroll-disabled='dialog.busy'
                 infinite-scroll-distance='0'>
              <div ng-click="changeRoom(last)"
                   ng-class="{'mess-active {{'border-bg-' + role }}': active == last.room}"
                   ng-repeat='(id, last) in dialog.items | orderObjectBy:"date_time.date":true' class="dialog-last-mess">
                <div ng-class="{'active-mess': active == last.room}" class="mess-container">
                  <div class="h {{'c-' + role }}" ng-show = "last.newRoom">
                    <p ng-show="last.newRoom.type === 'group'">
                      GROUP MESSAGE <br>
                      <span class="text"> {{last.newRoom.text}}</span>
                    </p>
                    <p ng-show="last.newRoom.type ==='direct'">
                      CHAT WITH {{last.newRoom.text}}
                    </p>
                  </div>
                  <div ng-hide ="last.newRoom">
                    <div ng-show="last.unread_count > 0" class="{{'unread bg-' + role }}">
                      <span>{{last.unread_count}}</span>
                    </div>
                    <div class="last-mess-user-img {{'border-bg-' + role }}" ng-style="{'background-image':'url({{last.sender.image}})'}"></div>

                    <!--<img class="{{'border-bg-'+ role}}" ng-src="{{last.sender.image}}" alt="">-->
                    <div class="content-block">
                      <div class="sender-name">
                        {{last.sender.first_name + ' ' + last.sender.last_name}}
                        <span class="mess-date">{{last.date_time.date | datechat}}</span>
                      </div>
                      <div class="mes-content">
                        {{last.content}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>



            <div id="dialog-loader" class="loader" style="display: none"></div>
          </div>
          <div style="position: relative">
            <custom-button style="position: absolute; bottom: 20px; right: 20px;"></custom-button>
          </div>
        </div>
      </div>




      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding pl-15">
        <div class="chat-container">



          <div ng-if='active!==-1' class="chat-header" ng-hide='startRequest'>
            <div class="h {{'c-' + role }}">
              <p ng-show="chatTitle.type === 'group'">
                GROUP MESSAGE <br>
                <span class="text"> {{chatTitle.text}}</span>
              </p>
              <p ng-show="chatTitle.type ==='direct'">
                CHAT WITH {{chatTitle.text}}
              </p>
            </div>
            <div>
            </div>
          </div>

          <div id='chat' class="chat" onscroll="scrollEventHendlerChat()">
            <div ng-show='active!==-1' id="container-chat">
              <div id="chat-loader" class="loader" style="display: none"></div>
              <div class="message-container" ng-repeat='(id, message) in currentRoom.chat.items track by id' chat-scrol-dir>
                <div ng-class="{'rtl': message.sender.id === user.id}" class="message" ng-click=" message.sender.id === user.id && selectMessage(message)">

                  <div  ng-class="{'selected-message': selectedMessages.indexOf(message) != -1}">
                    <div class="img-with-date">
                      <div class="last-mess-user-img" ng-style="{'background-image':'url({{message.sender.image}})'}"></div>
                      <span class="date">{{message.date_time.date | datemessage}}</span>
                    </div>
                    <div ng-class="{'message-me {{'bg-' + role }}': message.sender.id === user.id}" class="message-content ">
                      <div class="holder-flex">
                        <p ng-bind-html="message.contentR">
                          <!--{{message.contentR}}-->
                        </p>
                        <img ng-if="message.attachments.length" class="chat-img"
                             src="{{message.attachments[0].link}}">
                      </div>

                    </div>
                  </div>


                </div>
              </div>
            </div>
          </div>
          <!--<div  onscroll="scrollEventHendler()" id='chat' class="chat">-->
            <!--<div ng-show='active!==-1' id="container-chat">-->
              <!--<div id="chat-loader" class="loader" style="display: none"></div>-->
              <!--<div class="message-container" ng-repeat='(id, message) in currentRoom.chat.items track by id' my-repeat-directive>-->
                <!--<div ng-class="{'rtl': message.sender.id === user.id}" class="message">-->
                  <!--<div class="img-with-date">-->
                    <!--<img ng-src="{{message.sender.image}}" alt="">-->
                    <!--<span class="date">{{message.date_time.date | datemessage}}</span>-->
                  <!--</div>-->
                  <!--<div ng-class="{'message-me {{'bg-' + role }}': message.sender.id === user.id}" class="message-content ">-->
                    <!--<div class="holder-flex">-->
                      <!--<p ng-bind-html="message.contentR">-->
                        <!--&lt;!&ndash;{{message.contentR}}&ndash;&gt;-->
                      <!--</p>-->
                      <!--<img ng-if="message.attachments.length" class="chat-img"-->
                           <!--src="{{message.attachments[0].link}}">-->
                    <!--</div>-->

                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->

          <!--</div>-->

          <div ng-show='active!==-1' class="type-message">
            <div class="type-message-container height">
              <div class="row height margin">
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 height padding">
                  <div class="photo-container height">
                    <div class="photo {{ role }}"
                         ng-show="!picFile"
                         name = "pictureUpload"
                         ngf-select
                         ng-model="picFile"
                         ngf-min-widht="240"
                         ngf-min-height="160"
                         ngf-max-size="5MB"
                         ngf-resize="{width: 240, height: 160, centerCrop: true}"
                         ngf-accept="'image/*'" valid-file>
                    </div>
                    <div ng-show="picFile" class='UploadedPicture'
                         ngf-select
                         ng-model="picFile"
                         ngf-accept="'image/*'">
                      <img class="thumb" ngf-thumbnail="picFile"/>
                    </div>
                  </div>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 height padding">
                  <div class="message-input-container height width">
                    <div class="scroll-hider"></div>
                    <textarea  autofocus=""
                               maxlength="200"
                               id ="type-message"
                               ng-keyup=resizeArea($event)
                               class="message-input width"
                               name="Message"
                               cols="40"
                               rows="1"
                               ng-model = "content"
                               placeholder="Type your message…"></textarea>

                  </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 height relative padding">
                  <div ng-if="!loadingImg" ng-click = "sendMessage()" class="send {{'c-' + role }}">
                    Send
                  </div>
                  <div ng-if="loadingImg" class=" loading--message-image">
                    Loading image...
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

