<div id="header" ng-include="'components/header/header.html'"></div>
<div class="mess-block" ng-init="init()">
  <div class="message-block-header {{'c-' + role}}">
        <span class="title">
            Notifications  <br>
             <!--<span class="unread-messages" ng-show="unread !== -1">-->
            <!--{{unread == 1? unread +' unread message':  unread + ' unread messages'}}-->
        <!--</span>-->
        </span>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 padding"></div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 padding">

        <div class="dialog-list">
          <div ng-if="!notifications.length">
            <div class="loader"></div>
          </div>
          <div class="dialog-wrapper"  id="dialog-list" ng-if="notifications.length">
            <div ng-repeat='notification in notifications' class="dialog-last-mess" style="height: auto" ng-click="readNotification(notification)">
              <div class="mess-container"  >
                <div ng-if="notification.status === 0" class="{{'unread bg-' + role }}" style="bottom: 10px">
                  <span>NEW!</span>
                </div>
                <div class="content-block" style="padding: 0">
                  <div class="sender-name">
                    <span class="mess-date">{{notification.created_at | datechat}}</span>
                  </div>
                  <div class="mes-content" style="height: auto; margin-top: 20px">
                    {{notification.title}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
