<div class="message-popup">
  <div class="popup-block">
    <div class="dialog-list">
      <div class="dialog-wrapper" style="overflow: hidden">

        <div ng-repeat='notification in newNotifications' class="dialog-last-mess" style="height: auto">
          <div class="mess-container" ng-click="readNotification(notification)">
            <div ng-if="notification.status === 0" class="{{'unread bg-' + role }}" style="bottom: 10px">
              <span>NEW!</span>
            </div>
            <div class="content-block" style="padding: 0">
              <div class="sender-name">
                <span class="mess-date">{{notification.created_at | datechat}}</span>
              </div>
              <div class="mes-content" style="height: auto; margin-top: 20px">
                {{notification.title}}
              </div>
            </div>
          </div>
        </div>

        <div ng-if="!newNotifications.length" class="dialog-last-mess" style="height: auto">
          <div class="mess-container" ng-click="readNotification(notification)">
            <div class="content-block" style="padding: 0">
              <div class="mes-content" style="height: auto;">
                You have no new notifications.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="notif-controls {{'border-top-' + role}}">
        <a class="{{'c-' + role}} control-left" ng-href="#" ng-click="onMessageClick($event); readAllNotifications()">Mark as read</a>
        <a class="{{'c-' + role}} control-right" ng-href="#/notifications">See all notifications</a>
      </div>
    </div>
  </div>

</div>
