.export-items-list{
  padding: 0 3px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  font-family: 'Roboto', sans-serif;
  display: flex;
  width: 100%;
  justify-content: space-between;
  .export-item{
    margin: 3px 0;
    width: 170px;
    height: 100%;
    img{
      width: 100%;
    }
  }
}

.background-teacher{
  background-color: #4b93eb;
}
