<form name="PaymentForm" ng-submit="submitCreateClassModal()" novalidate id="payment-form" ng-show="!showPaymentCode">
  <div class="modal-header {{userData.background}}">
    <h3 class="modal-title" id="modal-title">Payment options</h3>
    <button class="modal-btn-close {{userData.background}}" type="button" ng-click="cancel()" style = "">+</button>
  </div>

  <div class="buy-discount" ng-show="paymentData.cummon">

    <div  class="buy-discount-block">
      <label>
        <div class="buy-discount-label">Enter amount of teacher</div>
        <input class="buy-discount-input" type="number" size="20" min="1" max="30" ng-show="paymentData.discount===30"  ng-model="amountOfTeacher">
        <input class="buy-discount-input" type="number" size="20" min="31" max="40"  ng-show="paymentData.discount===40" ng-model="amountOfTeacher">
        <input class="buy-discount-input" type="number" size="20" min="41" ng-show="paymentData.discount===50"  ng-model="amountOfTeacher">
      </label>
    </div>

    <div  class="buy-discount-block amount-after">
      <label>
        <div class="buy-discount-label">Amount after {{paymentData.discount}}% discount</div>
        <div class="buy-discount-input" type="text" size="20">{{afterDiscount}}</div>
      </label>
    </div>
  </div>



   <div>
     <div class="card-data-title">CREDIT CARD DETAILS</div>
     <div class="card-data">

       <div class="payment-form">
         <div class="form-row">
           <label class="card-number">
             <div class="card-input-label">Card Number</div>
             <div class="credit-card-img-container"><img src="images/icon-credit-card.png"> </div>
             <input type="text" size="20" data-stripe="number" class="card-input" placeholder="Card Number" style="padding-right: 110px;" name="CardNumber">
           </label>
         </div>

         <div class="form-row" style="margin-top: 20px">
           <label class="card-expiry">
             <div class="card-input-label">Expiry date</div>
             <input type="text" size="10" data-stripe="exp" class="card-input" placeholder="MM/YY" name="CardExp">
           </label>

           <label class="card-cvc">
             <div class="card-input-label">CVC</div>
             <input type="text" size="4" data-stripe="cvc" class="card-input" placeholder="CVC" name="CardCVC">
           </label>
         </div>

       </div>

     </div>
   </div>

  <div ng-show="!paymentData.cummon" style="height:100px;">

  </div>

  <div ng-show="paymentData.cummon" >
    <div class="card-data-title">SCHOOL SUBSCRIBER</div>
    <div class="school-name-container">
      <div class="form-row">
        <label class="card-number">
          <div class="card-input-label">Write your school name</div>
          <input type="text" size="20"  class="card-input" placeholder="Your school name" ng-model="schoolName">
        </label>
      </div>
    </div>
    <div class="school-addition-information">*Promotion code will be assosiated with the school name.
      Make sure all teachers will use the same school name </div>
  </div>

  <div class="modal-footer payment-form-footer">
    <button class="btn-cansel {{userData.color}} cursorPointer"
            type="button"
            ng-click="cancel()">Cancel
    </button>
    <div class = 'grade-server-error help-block' style="left:auto;right: 130px"><span class="payment-errors"></span></div>
    <button class="btn-createClass cursorPointer {{userData.background}}"
             style = "padding: 0 25px;"
            type="submit"
            ng-click="submitted=true; ok(PaymentForm.$invalid)">PAY $$$
    </button>
  </div>

  <div id='user-loader' class="loader" style="position: absolute; top: 50%; right: 50%; margin: 0; display: none"></div>
</form>

<form ng-submit="submitCreateClassModal()" novalidate id="congratulation-form" ng-show="showPaymentCode">
  <div class="modal-header {{userData.background}}">
    <h3 class="modal-title">Congratulation</h3>
    <button class="modal-btn-close {{userData.background}}" type="button" ng-click="cancel()">+</button>
  </div>
<div class="payment-background">
  <div class="payment-congratulation">
    <div class="class-code-title">Congratulation!</div>
    <div class="class-code-container">
          <div class="class-code-label">Here is your code:</div>
          <div class="class-code-input">{{premiumCode}}</div>
    </div>
    <div class="class-code-addition-information">The code must be entered by teachers <br>
      within 30 days after the purchasing the code.</div>
  </div>
</div>
  <div class="modal-footer payment-form-footer">
    <button class="btn-cansel {{userData.color}} cursorPointer"
            type="button"
            ng-click="cancel()" ng-show="false">Cancel
    </button>
    <div class = 'grade-server-error help-block' style="left:auto;right: 95px"><span class="payment-errors"></span></div>
    <button class="btn-createClass cursorPointer {{userData.background}}"
            style = "padding: 0 25px;"
            ng-click="cancel()">CLOSE
    </button>

  </div>
</form>

