<!-- Header -->
<div id="header" ng-include="'components/header/header.html'"></div>

<div id="menuClass" ng-include="'components/class/menuClass/menuClass.html'"></div>

<div ng-model="role" class="class-menu {{role}}">
  <div class="class-item-header ">
    <div class="class-menu-item-main-header col-md-5 col-sm-5 col-xs-6 ">
      <!--<div>-->
      <div class="{{'c-'+role}} " ng-show="(parentFolderId===0 && userData.role!=='student')  || (parentFolderId===0 &&  showTeacherFiles) || (parentFolderStudentId===0  && showStudentFiles)">Files</div>

      <div class="{{'c-'+role}} " ng-click="backToParentFolder()" ng-show="(parentFolderId!==0 && userData.role!=='student') || (parentFolderId!==0 && showTeacherFiles)"><img ng-src="{{iconArrowBack()}}">
        <span class = "back-folder-button">Back</span>
      </div>

      <div class="{{'c-'+role}} " ng-click="backToParentStudentFolder()" ng-show="(parentFolderStudentId!==0 && showStudentFiles) "><img ng-src="{{iconArrowBack()}}">
        <span class = "back-folder-button">Back</span>
      </div>

      <div class="amount-of-students" ng-show="(listOfFiles.length !== 0 && userData.role!=='student') || showTeacherFiles">
        <span ng-show="numberOfFolders === 1 ">{{numberOfFolders}} folder </span>
        <span ng-show="numberOfFolders >1 ">{{numberOfFolders}} folders </span>
        <span ng-show="numberOfFiles ===1">{{numberOfFiles}} file</span>
        <span ng-show="numberOfFiles >1">{{numberOfFiles}} files</span>
      </div>

      <div class="amount-of-students" ng-show="listOfStudentFiles.length !== 0 && showStudentFiles ">
        <span ng-show="numberOfStudentFolders === 1 ">{{numberOfStudentFolders}} folder </span>
        <span ng-show="numberOfStudentFolders >1 ">{{numberOfStudentFolders}} folders </span>
        <span ng-show="numberOfStudentFiles ===1">{{numberOfStudentFiles}} file</span>
        <span ng-show="numberOfStudentFiles >1">{{numberOfStudentFiles}} files</span>
      </div>
      <!--</div>-->
    </div>
    <div class="class-menu-item-main-subheader"></div>
    <div class="class-menu-item-context-menu col-md-7 col-sm-7 col-xs-6 " ng-show="selection.length !== 0" ng-hide="hideCustomButton || role === 'parent'">
      <context-menu></context-menu>
    </div>

  </div>



  <div class="class-menu-item-container">

    <div class="class-menu-item-block-center-container file-shadow" style = "height:74vh">

      <div class="shadow" ng-show="userData.role ==='student'">
        <div class="files-subheader">
          <div class="{{userData.color}} files-subheader-item" id = "itemCreatedByStudent" style = "border-bottom: 2px solid #3d8e78" ng-click = "createdByTeacher()">CREATED BY TEACHER </div>
          <div class="{{userData.color}} files-subheader-item" id = "itemCreatedByTeacher" ng-click = "createdByStudent()">CREATED BY ME</div>
        </div>
      </div>
      <div class="class-menu-item-block-center" ng-style="{height : role === 'student' ? '71vh' : '74vh'}">
        <div class="polls-main-container" style ="padding-top: 0 ">
          <!---->
          <!---->
          <!---->
          <div  ng-show="examNotExist"  style ="margin-top: 110px;" class="no-polls">
            <div class="no-polls-img">
              <img src="images/no_files.svg">
            </div>
            <div class="no-polls-title"><span>You have no file <br> created yet.</span></div>

            <div class="polls-hint" ng-show="userData.role ==='teacher' || (userData.role ==='student'&& showStudentFiles)">
              <div class="polls-hint-text"><span>Tap here to create your first file</span></div>
              <img src="images/brush_arrow.png">
            </div>

            <div class="custom-button-container" ng-show="userData.role ==='teacher' || (userData.role ==='student'&& showStudentFiles)">
              <custom-button ng-hide="hidePlusButton"></custom-button>
            </div>

          </div>
          <div ng-show="examExist" class="no-polls" style="overflow: auto; margin-top: 0">
            <div class = "files-container" ng-show="userData.role!=='student' || showTeacherFiles">
            <div ng-repeat="file in listOfFiles" class = "files-li {{'file-li-'+role}}"
                 ng-class="{'active border-{{role}}': selection.selectedItems.indexOf(file.id) != -1}"
                 ng-dblclick="openFolder(file)" ng-if="file.type===1"
                 multi-select
                 multi-select-item="file"
                 multi-select-selection='selection'
                 ng-click="selectionWasChanged()"
            >
              <div style = "border-bottom: 2px solid {{file.color | colorParse}}" class="active-file-container">
                <div class="file-img-container" >
                  <img ng-src="{{iconFolderImage}}">
                </div>
              </div>
              <div class="active-file-container">{{file.name}} </div>
            </div>

              <div ng-repeat="file in listOfFiles" class = "files-li {{'file-li-'+role}}"
                   ng-class="{'active border-{{role}}': selection.selectedItems.indexOf(file.id) != -1}"
                   ng-dblclick="editExam(exam)"  ng-if="file.type===0"
                   multi-select
                   multi-select-item="file"
                   multi-select-selection='selection'
                   ng-click="selectionWasChanged()">
                <div style = "border-bottom: 2px solid {{file.color | colorParse}}" class="active-file-container">
                  <div class="file-img-container" >
                    <a ng-show="file.file" target="_blank" ng-dblclick="functionSaveFile(file.file)" id ={{file.file.id}}  >
                       <img ng-src={{chooseFileType(file.file.filename)}}>
                    </a>

                    <a ng-show="file.reference" target="_blank"  ng-dblclick="functionOpenReference(file)" id={{file.id}}>
                      <img ng-src={{chooseFileType(file.file.filename)}}>
                    </a>
                  </div>
                </div>
                <div class="active-file-container">{{file.name | nameLengthFilter}}</div>
              </div>

              <div class="custom-button-container" ng-hide="hideCustomButton || role === 'parent' || showTeacherFiles">
                <custom-button ng-click="$ctrl.openModal()" ng-hide="hidePlusButton" ></custom-button>
              </div>
            </div>

            <div class = "files-container" ng-show="showStudentFiles">
              <div ng-repeat="file in listOfStudentFiles" class = "files-li {{'file-li-'+role}}"
                   ng-class="{'active border-{{role}}': selection.selectedItems.indexOf(file.id) != -1}"
                   ng-dblclick="openStudentFolder(file)" ng-if="file.type===1"
                   multi-select
                   multi-select-item="file"
                   multi-select-selection='selection'
                   ng-click="selectionWasChanged()">
                <div style = "border-bottom: 2px solid {{file.color | colorParse}}" class="active-file-container">
                  <div class="file-img-container" >
                    <img ng-src={{folderIcon()}}>
                  </div>
                </div>
                <div class="active-file-container">{{file.name}}</div>

              </div>

              <div ng-repeat="file in listOfStudentFiles" class = "files-li {{'file-li-'+role}}"
                   ng-class="{'active border-{{role}}': selection.selectedItems.indexOf(file.id) != -1}"
                   ng-dblclick="editExam(exam)"  ng-if="file.type===0"
                   multi-select
                   multi-select-item="file"
                   multi-select-selection='selection'
                   ng-click="selectionWasChanged()">
                <div style = "border-bottom: 2px solid {{file.color | colorParse}}" class="active-file-container">
                  <div class="file-img-container">
                    <a ng-show="file.file" target="_blank" ng-dblclick="functionSaveFile(file.file)" id ={{file.file.id}} >
                      <img ng-src={{chooseFileType(file.file.filename)}}>
                    </a>

                    <a ng-show="file.reference" target="_blank" ng-dblclick="functionOpenReference(file)" id={{file.id}}>
                      <img ng-src={{chooseFileType(file.file.filename)}}>
                    </a>
                  </div>
                </div>
                <div class="active-file-container">{{file.name}}</div>
              </div>

              <div class="custom-button-container" ng-hide="hideCustomButton || role === 'parent'">
                <custom-button ng-click="$ctrl.openModal()" ng-hide="hidePlusButton"></custom-button>
              </div>
            </div>

          </div>
          <div id='user-loader' class="loader more-menu-loader" style=""></div>

          <!---->
          <!---->
          <!---->
        </div>


      </div>
    </div>

    <!--<div class="class-menu-item-block-right-container">-->
      <!--<div class="class-menu-item-block-right">-->
        <!--<div class="class-menu-item-block-right-header">-->
        <!--</div>-->
        <!--<div class="student-info"></div>-->
      <!--</div>-->
    <!--</div>-->
  </div>
</div>

