<form name="CreateGradableItem" ng-submit="submitCreateClassModal()" novalidate>
  <div class="modal-header {{userData.background}}">
    <h3 class="modal-title" id="modal-title">Choose export options</h3>
    <button class="modal-btn-close {{userData.background}}" type="button" ng-click="cancel()" style = "">+</button>
  </div>



    <div class = 'export-items-list'>
      <div class = 'export-item' ng-repeat="item in exportItems" ng-click="hideError()"
           multi-select
           multi-select-item="item"
           multi-select-selection='selection' >
        <div ng-show="item.show">
          <img ng-mouseover="hoverIn()" ng-mouseleave="hoverOut()"  ng-src="{{item.img}}" ng-show="!(selection.selectedItems.indexOf(item.id) != -1) && !hoverEdit">
          <img ng-mouseover="hoverIn()" ng-mouseleave="hoverOut()" ng-src="{{item.imgActive}}" ng-show="(selection.selectedItems.indexOf(item.id) ) != -1 || hoverEdit">
        </div>
        <div ng-show="!item.show">
          <img ng-src="{{item.imgNotActive}}">
        </div>
      </div>
    </div>

  <div class="modal-footer" style = "position:relative">
    <button class="btn-cansel {{userData.color}} cursorPointer"
            type="button"
            ng-click="cancel()">Cancel
    </button>
    <div class = 'grade-server-error help-block' ng-show = "typeError" id="server-error-create-item">Please choose options</div>
    <button class="btn-createClass {{userData.background}}"
            style = "cursor:pointer"
            type="submit"
            ng-click="submitted=true; ok(CreateExamModal.$invalid)">EXPORT TO EMAIL
    </button>

  </div>
</form>

