<div class="jumbotron" ng-controller="HomeCtrl as ctrl">
  <h1>Hello</h1>
  <h1>{{ 'TITLE' | translate }}</h1>
  <h3>{{ 'MESSAGE' | translate }}</h3>
  <select ng-options="language | translate for language in ctrl.languages" ng-model="ctrl.language" ng-change="ctrl.updateLanguage()"></select>



  <p class="lead">
    <img src="images/yeoman_3x.png" alt="I'm Yeoman"><br>
  </p>
</div>

<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>
